<template>
  <v-container class="attendance d-flex flex-column">
    <v-container class="info-header">
      <div class="d-flex flex-wrap justify-space-between">
        <h2 style="min-width: 4em;">
          <color-select-btn @change="changeColor('menu', $event)">
            <v-icon :style="`color:${color.menu};`">mdi-table-account</v-icon>
            出欠表
          </color-select-btn>
        </h2>
        <div class="dates d-flex justify-space-between">
          <v-select
            :items="yearOptions"
            label="年"
            single-line
            outlined
            dense
            :value="year"
            @change="handleChangeYear"
          ></v-select>
          <v-spacer></v-spacer>
          <v-select
            :items="monthOptions"
            label="月"
            single-line
            outlined
            dense
            :value="month"
            @change="handleChangeMonth"
          ></v-select>
          <v-spacer></v-spacer>
          <v-select
            :items="weekdays"
            label="曜日"
            single-line
            outlined
            dense
            :value="weekday"
            @change="handleChangeWeek"
          ></v-select>
        </div>
        <v-spacer></v-spacer>

        <v-select
          class="usertype mb-3"
          :items="inactiveUsers"
          label="ユーザータイプ"
          single-line
          outlined
          dense
          :value="inactive"
          @change="inactive = $event"
        ></v-select>
        <v-spacer></v-spacer>
        <div class="mb-3">
          <v-btn
            @click="displaySize = 'ss'"
            :color="`${displaySize == 'ss' && 'info'}`"
          >
            極小
          </v-btn>
          <v-btn
            @click="displaySize = 's'"
            :color="`${displaySize == 's' && 'info'}`"
          >
            小
          </v-btn>
          <v-btn
            @click="displaySize = 'm'"
            :color="`${displaySize == 'm' && 'info'}`"
          >
            中
          </v-btn>
          <v-btn
            @click="displaySize = 'l'"
            :color="`${displaySize == 'l' && 'info'}`"
          >
            大
          </v-btn>
        </div>

        <v-spacer></v-spacer>
        <v-btn color="warning mb-3" @click="handleTableSave">
          表を保存
        </v-btn>
      </div>
      <v-divider></v-divider>
    </v-container>
    <!--  テーブル -->
    <flex-table
      id="attendance"
      :rowNum="rowNum"
      :colNum="colNum"
      :fixLeftNum="leftColNum"
      :fixRightNum="rightColNum"
      :cellStyle="getCellStyle"
      :displaySize="displaySize"
      :scrollTo="tableScroll"
      :headerDick="true"
    >
      <template v-slot:cell="props">
        <!--  追加ボタン -->
        <span v-if="props.rowIndex == 0 && props.colIndex == 0">
          <v-btn @click="handleAddDailyPb" class="btn" color="success"
            >日追加</v-btn
          >
        </span>
        <!-- 日にち ヘッダ -->
        <span
          v-if="!isHeaderRow(props.rowIndex) && isLeftCol(props.colIndex)"
          :id="getDayHeaderId(dailyPbs[getMiddleRowIndex(props.rowIndex)].date)"
        >
          <b>
            {{ dailyPbs[getMiddleRowIndex(props.rowIndex)].date | formatDate }}
          </b>
          <v-btn
            @click="
              handleDeleteDailyPb(
                dailyPbs[getMiddleRowIndex(props.rowIndex)].id
              )
            "
            icon
            color="#acf"
            class="day-header delete-btn mini-btn"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </span>
        <!-- ユーザー ヘッダ -->
        <span v-if="isHeaderRow(props.rowIndex) && isCenterCol(props.colIndex)">
          <b>
            {{ users[props.colIndex - 1].name }}
          </b>
        </span>
        <!-- 出欠 内容 -->
        <span
          v-if="!isHeaderRow(props.rowIndex) && isCenterCol(props.colIndex)"
        >
          <attendance-form
            :key="
              `${users[getCenterColIndex(props.colIndex)].id}-${
                dailyPbs[getMiddleRowIndex(props.rowIndex)].date
              }`
            "
            :userId="users[getCenterColIndex(props.colIndex)].id"
            :date="dailyPbs[getMiddleRowIndex(props.rowIndex)].date"
            :attendanceId="
              getAttendanceId({
                userId: users[getCenterColIndex(props.colIndex)].id,
                date: dailyPbs[getMiddleRowIndex(props.rowIndex)].date
              })
            "
          />
        </span>
        <!-- 収支関連 ヘッダ -->
        <span v-if="isHeaderRow(props.rowIndex) && isRightCol(props.colIndex)">
          <color-select-btn
            @change="
              changeColor(
                balances[getRightColIndex(props.colIndex)].key,
                $event
              )
            "
          >
            <b>
              {{ balances[getRightColIndex(props.colIndex)].name }}
            </b>
          </color-select-btn>
        </span>
        <!-- 収支関連 内容 -->
        <span v-if="!isHeaderRow(props.rowIndex) && isRightCol(props.colIndex)">
          <span
            v-if="
              balances[getRightColIndex(props.colIndex)].key === 'otherBalance'
            "
            :class="
              `${getDailyOtherBalance(
                dailyPbs[getMiddleRowIndex(props.rowIndex)].date
              ) < 0 && 'minus'}`
            "
          >
            <span
              @click="
                handleShowIncomeSpending(
                  dailyPbs[getMiddleRowIndex(props.rowIndex)].date
                )
              "
              class="is-btn"
            >
              {{
                getDailyOtherBalance(
                  dailyPbs[getMiddleRowIndex(props.rowIndex)].date
                )
              }}
            </span>
          </span>
          <span
            v-if="balances[getRightColIndex(props.colIndex)].key === 'balance'"
            :class="
              `${getBalance(dailyPbs[getMiddleRowIndex(props.rowIndex)].date) <
                0 && 'minus'}`
            "
          >
            {{ getBalance(dailyPbs[getMiddleRowIndex(props.rowIndex)].date) }}
          </span>

          <span
            v-if="balances[getRightColIndex(props.colIndex)].key === 'income'"
          >
            {{
              getDailyAllUserPayment(
                dailyPbs[getMiddleRowIndex(props.rowIndex)].date
              )
            }}
          </span>
        </span>
      </template>
    </flex-table>
    <!--  テーブル -->

    <v-overlay :dark="false" :value="overlay">
      <v-card class="form-wrapper">
        <daily-pb-form
          :currentDate="latestDate"
          @close="overlay = false"
          @add="handleDataAdd"
        />
      </v-card>
    </v-overlay>

    <v-overlay :dark="false" :value="incomeOverlay">
      <v-card class="income form-wrapper">
        <v-container class="d-flex justify-center">
          <h2>{{ selectedDate | formatYearDate }} 別途収支一覧</h2>
        </v-container>
        <v-container class="d-flex justify-right">
          <v-spacer></v-spacer>
          <v-btn @click="incomeOverlay = false" color="#bbb">閉じる</v-btn>
        </v-container>
        <income-spending-table
          class="income-table"
          id="income-spending"
          :key="`${selectedDate}/${displaySize}`"
          :year="sDate.year"
          :month="sDate.month"
          :day="sDate.day"
          :displaySize="displaySize"
          :onlyDay="true"
        />
      </v-card>
    </v-overlay>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { ExStore } from 'vuex'
import {
  dateFormat,
  DateString,
  Weekday,
  weekday as wday,
  weekdayReading,
  years
} from '@/types'
import { Color } from '@/types/color'
import { FilterQuery } from '@/store/attendance/types'
import dayjs from 'dayjs'
import DailyPb from '@/types/dailyPaymentsBalance'
import { Route } from 'vue-router'
import { DisplayInfo, DisplaySize } from '@/components/organisms/FlexTable.vue'
import {
  getDailyAllUserPayment,
  getDailyOtherIncome,
  getDailyOtherSpending
} from '@/util/paymentCalc'
import { AttendanceColor } from '@/store/setting/types'
import { tableData } from '@/util/tableData'
import ipcHandler from '@/util/ipcHandler'

export const balances = [
  { key: 'otherBalance', name: '別途収支' },
  { key: 'income', name: '合計収益' },
  { key: 'balance', name: '利益' }
]

@Component({
  components: {
    AttendanceForm: () => import('@/components/atoms/AttendanceForm.vue'),
    DailyPbForm: () => import('@/components/organisms/DailyPbForm.vue'),
    FlexTable: () => import('@/components/organisms/FlexTable.vue'),
    IncomeSpendingTable: () =>
      import('@/components/organisms/IncomeSpendingTable.vue'),
    ColorSelectBtn: () => import('@/components/atoms/ColorSelectBtn.vue')
  },
  filters: {
    formatDate: (date: string) => {
      const d = dayjs(date)
      return `${d.format('M/DD')} ${weekdayReading[d.day()]}`
    },
    formatYearDate: (date: string) => {
      const d = dayjs(date)
      return `${d.format('YYYY/M/D')} (${weekdayReading[d.day()]})`
    }
  }
})
export default class Attendance extends Vue {
  @Prop({ default: () => String(dayjs().year()) }) year!: string
  @Prop({ default: () => String(dayjs().month()) }) month!: string
  @Prop({ default: '0' }) day!: string
  @Prop({ default: () => null }) weekday!: Weekday | null

  $store!: ExStore
  query: FilterQuery = {
    attend: undefined,
    date: undefined,
    dates: undefined,
    weekday: undefined,
    span: undefined,
    userId: undefined,
    desc: false
  }
  balances = balances
  inactiveUsers = [
    { value: false, text: 'アクティブユーザー' },
    { value: true, text: '全ユーザー' }
  ]
  inactive = false

  iYear = String(dayjs().year())
  iMonth = String(dayjs().month() + 1)
  iDay = '0'
  iWeekday: Weekday | null = null

  tableScrollY = 0
  tableScrollX = 0

  selectedDate: DateString | null = null
  overlay = false
  incomeOverlay = false

  get color() {
    return this.$store.getters['setting/colors'].attendance
  }

  get displaySize() {
    return this.$store.getters['setting/size'].attendance
  }
  set displaySize(size: DisplaySize) {
    this.$store.dispatch('setting/updateSize', { attendance: size })
  }

  get sDate() {
    const d = dayjs(this.selectedDate || '')
    return {
      year: d.year(),
      month: d.month() + 1,
      day: d.date()
    }
  }

  get tableScroll() {
    return {
      x: this.tableScrollX,
      y: this.tableScrollY
    }
  }

  get users() {
    const weekday = this.iWeekday ? this.iWeekday : undefined
    const includeInactive = this.inactive
    const query = {
      weekday,
      includeInactive
    }
    return this.$store.getters['user/filterByQuery'](query)
  }

  get attendances() {
    return this.$store.getters['attendance/filterByQuery'](this.query)
  }

  get dailyPbs() {
    return this.$store.getters['dailyPB/filterByQuery'](this.query)
  }

  get latestDate() {
    return this.dailyPbs[this.dailyPbs.length - 1]?.date
  }

  get yearOptions() {
    return years.map(y => ({
      text: String(y),
      value: String(y)
    }))
  }

  get monthOptions() {
    return [...Array(13).keys()].map(i => ({
      text: i == 0 ? '全て' : String(i),
      value: String(i)
    }))
  }

  get weekdays() {
    return [
      { text: '全て', value: 'all' },
      ...wday.map((w, i) => ({ text: weekdayReading[i], value: w }))
    ]
  }

  get rowNum() {
    const header = this.headerRowNum
    return this.dailyPbs.length + header
  }

  get colNum() {
    const left = this.leftColNum
    const right = this.rightColNum
    return this.centerColNum + left + right
  }

  get headerRowNum() {
    return 1
  }

  get centerColNum() {
    return this.users.length
  }

  get leftColNum() {
    return 1
  }

  get rightColNum() {
    return this.balances.length
  }

  @Watch('$route')
  onUpdateRoute(to: Route, from: Route) {
    const y = String(to.query.year || this.iYear)
    const m = String(to.query.month || this.iMonth)
    const d = String(to.query.day || this.iDay)
    const wd = to.query.weekday
    const w = wd && wd != 'all' ? (String(to.query.weekday) as Weekday) : null
    this.iYear = y
    this.iMonth = m
    this.iDay = d
    this.iWeekday = w
    this.setQuery()
    this.setDates({ year: y, month: m, day: d, weekday: w })
    Vue.nextTick(() => {
      this.scrollToDate()
    })
  }
  scrollToDate(dateString?: DateString) {
    if (this.iDay == '0') return
    const { iYear, iMonth, iDay } = this
    const date =
      dateString ||
      (dayjs(`${iYear}/${iMonth}/${iDay}`).format(dateFormat) as DateString)
    const id = this.getDayHeaderId(date)
    const elm = document.getElementById(id)
    const top = elm?.offsetTop || 0
    this.tableScrollY = top - 150
    this.iDay = '0'
  }
  getDayHeaderId(date: DateString) {
    return `dayheader-${date}`
  }
  created() {
    this.iYear = this.year
    this.iMonth = this.month
    this.setQuery()
  }
  mounted() {
    this.scrollToDate()
  }
  setQuery() {
    const term = this.iMonth == '0' ? 'year' : 'month'
    const month = this.iMonth == '0' ? '01' : this.iMonth
    const from = dayjs(`${this.iYear}/${month}/01`)
    const to = dayjs(`${this.iYear}/${month}/01`).add(1, term)
    this.$set(this.query, 'span', {
      from: from.format(dateFormat) as DateString,
      to: to.format(dateFormat) as DateString
    })
    const weekday = this.iWeekday || undefined
    this.$set(this.query, 'weekday', weekday)
  }
  setDates(d: {
    year?: string | null
    month?: string | null
    day?: string | null
    weekday?: string | null
  }) {
    const payload = {
      year: d.year || null,
      month: d.month || null,
      day: d.day || null,
      weekday: d.weekday || null
    }
    this.$store.dispatch('setting/updateDates', { attendance: payload })
  }
  getAttendance(q: { userId: number; date: DateString }) {
    return this.attendances.filter(
      a => a.user === q.userId && a.date === q.date
    )
  }
  getAttendanceId(q: { userId: number; date: DateString }) {
    const a = this.getAttendance(q)
    if (!a.length) return null
    return a[0].id
  }
  getDailyAllUserPayment(date: DateString) {
    return getDailyAllUserPayment(date)
  }
  getDailyOtherBalance(date: DateString) {
    return this.getDailyOtherIncome(date) + this.getDailyOtherSpending(date)
  }
  getDailyOtherIncome(date: DateString) {
    return getDailyOtherIncome(date, true)
  }
  getDailyOtherSpending(date: DateString) {
    return getDailyOtherSpending(date, true)
  }
  getBalance(date: DateString) {
    const uPayments = this.getDailyAllUserPayment(date)
    const oIncome = this.getDailyOtherIncome(date)
    const oSpending = this.getDailyOtherSpending(date)
    return uPayments + oIncome + oSpending
  }
  updateDailyPb(id: number, payload: Partial<DailyPb>) {
    this.$store.dispatch('dailyPB/updateDailyPB', { id, payload })
  }
  changeColor(key: string, color: Color) {
    this.$store.dispatch('setting/updateAttendanceColor', {
      [key as keyof AttendanceColor]: color
    })
  }
  handleAddDailyPb() {
    this.overlay = true
  }
  handleDeleteDailyPb(id: number) {
    const daily = this.$store.getters['dailyPB/get'](id)
    if (daily)
      this.$store.dispatch('attendance/deleteAttendancesByDate', daily.date)
    this.$store.dispatch('dailyPB/deleteDailyPB', { id })
  }
  handleChangeYear(year: string) {
    const weekday = this.iWeekday
    const month = this.iMonth
    this.$router.push({ name: 'Attendance', query: { year, month, weekday } })
  }
  handleChangeMonth(month: string) {
    const weekday = this.iWeekday
    const year = this.iYear
    this.$router.push({ name: 'Attendance', query: { year, month, weekday } })
  }
  handleChangeWeek(weekday: Weekday) {
    const year = this.iYear
    const month = this.iMonth
    this.$router.push({ name: 'Attendance', query: { year, month, weekday } })
  }
  handleDataAdd(date: DateString) {
    const d = dayjs(date)
    const weekday = this.iWeekday
    const year = String(d.year())
    const month = String(d.month() + 1)
    const day = String(d.date())
    if (this.iMonth != '0' || year != this.iYear) {
      this.$router.push({
        name: 'Attendance',
        query: { year, month, day, weekday }
      })
    } else {
      this.iDay = day
      Vue.nextTick(() => {
        this.scrollToDate(date)
      })
    }
  }
  handleShowIncomeSpending(date: DateString) {
    this.selectedDate = date
    this.incomeOverlay = true
  }
  handleTableSave() {
    const csv = tableData.attendance(this.query)
    ipcHandler.saveCsv(csv)
  }
  getCellStyle(rI: number, cI: number, info: DisplayInfo) {
    const color = { bg: '', font: '', border: '' }
    if (this.isHeaderRow(rI)) {
      if (this.isCenterCol(cI)) {
        const user = this.users[this.getCenterColIndex(cI)]
        color.bg = user.bgColor as string
        color.font = user.fontColor as string
      }
      if (this.isRightCol(cI)) {
        const balance = this.balances[this.getRightColIndex(cI)]
        const bc = this.color[balance.key as keyof AttendanceColor]
        color.border = `${info.cellHeight / 10}px solid ${bc}`
      }
    }
    let style = ''
    if (color.bg) style += ` background: ${color.bg}; `
    if (color.font) style += `  color:${color.font}; `
    if (color.border) style += `  border:${color.border}; `
    return style
  }
  isHeaderRow(rI: number) {
    return rI < this.headerRowNum
  }
  isLeftCol(cI: number) {
    return cI < this.leftColNum
  }
  isRightCol(cI: number) {
    return cI >= this.colNum - this.rightColNum
  }
  isCenterCol(cI: number) {
    return !this.isLeftCol(cI) && !this.isRightCol(cI)
  }
  getCenterColIndex(cI: number) {
    return cI - this.leftColNum
  }
  getRightColIndex(cI: number) {
    return cI - this.leftColNum - this.centerColNum
  }
  getMiddleRowIndex(rI: number) {
    return rI - this.headerRowNum
  }
}
</script>
<style lang="scss" scoped>
.attendance {
  margin: 0;
  padding: 0 0px;
  max-width: 100vw !important;
  overflow-x: hidden;
  .usertype {
    width: 10%;
  }
  .income.form-wrapper {
    padding: 0px;
  }
  .form-wrapper {
    padding: 10px;
    width: 60vw;
    overflow: hidden;
    min-height: 50vh;
    color: black;
    background: white !important;
  }
  .info-header .v-btn {
    margin-right: 10px;
  }
  h2 {
    margin-right: 20px;
  }

  .day-header.mini-btn {
    margin-left: 3px;
  }
  .is-btn {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 0px;
    padding: 2px 4px;
  }
  .mini-btn {
    margin-left: 15px;
    height: 10px !important;
    width: 10px !important;
  }
  .dates {
    max-width: 300px;
    .v-input {
      margin-right: 10px;
    }
  }
}
.attendance,
.contents {
  height: 100%;
}
</style>
