<template>
  <v-container class="income-spending d-flex flex-column">
    <v-container class="info-header">
      <div class="d-flex flex-wrap justify-space-between">
        <h2 style="min-width: 6em;">
          <color-select-btn @change="changeColor('menu', $event)">
            <v-icon :style="`color:${color.menu};`">mdi-table-clock</v-icon>
            別途収支表
          </color-select-btn>
        </h2>
        <div class="dates d-flex justify-space-between">
          <v-select
            :items="yearOptions"
            label="年"
            single-line
            outlined
            dense
            :value="year"
            @change="handleChangeYear"
          ></v-select>
          <v-spacer></v-spacer>
          <v-select
            :items="monthOptions"
            label="月"
            single-line
            outlined
            dense
            :value="month"
            @change="handleChangeMonth"
          ></v-select>
          <v-spacer></v-spacer>
          <v-select
            :items="weekdays"
            label="曜日"
            single-line
            outlined
            dense
            :value="weekday"
            @change="handleChangeWeek"
          ></v-select>
        </div>
        <v-spacer></v-spacer>
        <div class="mb-3">
          <v-btn
            @click="displaySize = 'ss'"
            :color="`${displaySize == 'ss' && 'info'}`"
          >
            極小
          </v-btn>
          <v-btn
            @click="displaySize = 's'"
            :color="`${displaySize == 's' && 'info'}`"
          >
            小
          </v-btn>
          <v-btn
            @click="displaySize = 'm'"
            :color="`${displaySize == 'm' && 'info'}`"
          >
            中
          </v-btn>
          <v-btn
            @click="displaySize = 'l'"
            :color="`${displaySize == 'l' && 'info'}`"
          >
            大
          </v-btn>
        </div>
      </div>
      <v-divider></v-divider>
    </v-container>
    <income-spending-table
      class="income-table"
      :key="`${iYear}/${iMonth}/${iDay}/${iWeekday}/${displaySize}`"
      :year="iYear"
      :month="iMonth"
      :day="iDay"
      :weekday="iWeekday"
      :displaySize="displaySize"
    />
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { ExStore } from 'vuex'
import { Weekday, weekday as wday, weekdayReading, years } from '@/types'
import dayjs from 'dayjs'
import { Route } from 'vue-router'
import { DisplaySize } from '@/components/organisms/FlexTable.vue'
import { Color } from '@/types/color'
import { IncomeSpendingColor } from '@/store/setting/types'

@Component({
  components: {
    IncomeSpendingForm: () =>
      import('@/components/organisms/IncomeSpendingForm.vue'),
    IncomeSpendingTable: () =>
      import('@/components/organisms/IncomeSpendingTable.vue'),
    FlexTable: () => import('@/components/organisms/FlexTable.vue'),
    ColorSelectBtn: () => import('@/components/atoms/ColorSelectBtn.vue')
  }
})
export default class IncomeSpendings extends Vue {
  @Prop({ default: () => String(dayjs().year()) }) year!: string
  @Prop({ default: () => String(dayjs().month()) }) month!: string
  @Prop({ default: '0' }) day!: string
  @Prop({ default: () => null }) weekday!: Weekday | null
  @Prop({ default: false }) onlyDay!: boolean

  $store!: ExStore
  iYear = String(dayjs().year())
  iMonth = String(dayjs().month() + 1)
  iDay = '0'
  iWeekday: Weekday | null = null

  get color() {
    return this.$store.getters['setting/colors'].incomeSpending
  }

  get displaySize() {
    return this.$store.getters['setting/size'].incomeSpending
  }
  set displaySize(size: DisplaySize) {
    this.$store.dispatch('setting/updateSize', { incomeSpending: size })
  }

  get yearOptions() {
    return years.map(y => ({
      text: String(y),
      value: String(y)
    }))
  }

  get monthOptions() {
    return [...Array(13).keys()].map(i => ({
      text: i == 0 ? '全て' : String(i),
      value: String(i)
    }))
  }

  get weekdays() {
    return [
      { text: '全て', value: 'all' },
      ...wday.map((w, i) => ({ text: weekdayReading[i], value: w }))
    ]
  }

  @Watch('$route')
  onUpdateRoute(to: Route, from: Route) {
    const y = String(to.query.year || this.iYear)
    const m = String(to.query.month || this.iMonth)
    const d = String(to.query.day || this.iDay)
    const wd = to.query.weekday
    const w = wd && wd != 'all' ? (String(to.query.weekday) as Weekday) : null
    this.iYear = y
    this.iWeekday = w
    this.iMonth = m
    this.iDay = d
    this.setDates({ year: y, month: m, day: d, weekday: w })
  }
  created() {
    this.iYear = this.year
    this.iMonth = this.month
    this.iDay = this.day
  }
  setDates(d: {
    year?: string | null
    month?: string | null
    day?: string | null
    weekday?: string | null
  }) {
    const payload = {
      year: d.year || null,
      month: d.month || null,
      day: d.day || null,
      weekday: d.weekday || null
    }
    this.$store.dispatch('setting/updateDates', { incomeSpending: payload })
  }
  changeColor(key: string, color: Color) {
    this.$store.dispatch('setting/updateISColor', {
      [key as keyof IncomeSpendingColor]: color
    })
  }
  handleChangeYear(year: string) {
    const weekday = this.iWeekday
    const month = this.iMonth
    this.$router.push({
      name: 'IncomeSpending',
      query: { year, month, weekday }
    })
  }
  handleChangeMonth(month: string) {
    const weekday = this.iWeekday
    const year = this.iYear
    this.$router.push({
      name: 'IncomeSpending',
      query: { year, month, weekday }
    })
  }
  handleChangeWeek(weekday: Weekday) {
    const year = this.iYear
    const month = this.iMonth
    this.$router.push({
      name: 'IncomeSpending',
      query: { year, month, weekday }
    })
  }
}
</script>
<style lang="scss" scoped>
.income-spending {
  margin: 0;
  padding: 0 0px;
  max-width: 100% !important;
  height: calc(100% - 91px);
  .income-table {
    height: 100%;
  }

  .form-wrapper {
    padding: 10px;
    width: 50vw;
    min-height: 50vh;
    color: black;
    background: white !important;
  }
  .info-header .v-btn {
    margin-right: 10px;
  }
  h2 {
    margin-right: 20px;
  }
  .dates {
    max-width: 500px;
    .v-input {
      margin-right: 10px;
    }
  }
}
</style>
