<template>
  <v-container class="paymentbalance d-flex flex-column">
    <v-container class="info-header">
      <div class="d-flex flex-wrap justify-space-between">
        <h2 style="min-width: 6em;">
          <color-select-btn @change="changeColor('menu', $event)">
            <v-icon :style="`color:${color.menu};`"
              >mdi-currency-usd-circle-outline</v-icon
            >
            合計収支表
          </color-select-btn>
        </h2>
        <div class="dates d-flex justify-space-between">
          <v-select
            :items="yearOptions"
            label="年"
            single-line
            outlined
            dense
            :value="year"
            @change="handleChangeYear"
          ></v-select>
          <v-spacer></v-spacer>
          <v-select
            :items="weekdays"
            label="曜日"
            single-line
            outlined
            dense
            :value="weekday"
            @change="handleChangeWeek"
          ></v-select>
        </div>
        <v-select
          class="usertype"
          :items="inactiveUsers"
          label="ユーザータイプ"
          single-line
          outlined
          dense
          :value="inactive"
          @change="inactive = $event"
        ></v-select>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
        <div class="mb-3">
          <v-btn
            @click="displaySize = 'ss'"
            :color="`${displaySize == 'ss' && 'info'}`"
          >
            極小
          </v-btn>
          <v-btn
            @click="displaySize = 's'"
            :color="`${displaySize == 's' && 'info'}`"
          >
            小
          </v-btn>
          <v-btn
            @click="displaySize = 'm'"
            :color="`${displaySize == 'm' && 'info'}`"
          >
            中
          </v-btn>
          <v-btn
            @click="displaySize = 'l'"
            :color="`${displaySize == 'l' && 'info'}`"
          >
            大
          </v-btn>
        </div>
        <v-spacer></v-spacer>
        <v-btn color="warning mb-3" @click="handleTableSave">
          表を保存
        </v-btn>
      </div>

      <v-divider></v-divider>
    </v-container>
    <!--  テーブル -->
    <flex-table
      :rowNum="rowNum"
      :colNum="colNum"
      :fixLeftNum="leftColNum"
      :fixRightNum="rightColNum"
      :cellStyle="getCellStyle"
      :displaySize="displaySize"
      :headerDick="true"
      :key="`${iYear}${iMonth}${iWeekday}`"
    >
      <template v-slot:cell="props">
        <input
          type="hidden"
          :data-row="props.rowIndex"
          :data-col="props.colIndex"
        />
        <!--  追加ボタン -->
        <span v-if="props.rowIndex == 0 && props.colIndex == 0"> </span>
        <!-- 日にち ヘッダ -->
        <span v-if="!isHeaderRow(props.rowIndex) && isLeftCol(props.colIndex)">
          <b>
            {{ `${getMiddleRowIndex(props.rowIndex) + 1}月` }}
          </b>
        </span>
        <!-- ユーザー ヘッダ -->
        <span v-if="isHeaderRow(props.rowIndex) && isCenterCol(props.colIndex)">
          <b>
            {{ users[getCenterColIndex(props.colIndex)].name }}
          </b>
        </span>
        <!-- 出欠 内容 -->
        <span
          v-if="!isHeaderRow(props.rowIndex) && isCenterCol(props.colIndex)"
        >
          {{
            getMonthlyUserPayment(
              users[getCenterColIndex(props.colIndex)].id,
              getMiddleRowIndex(props.rowIndex) + 1
            )
          }}
          <user-payment-btn
            :userId="users[getCenterColIndex(props.colIndex)].id"
            :year="iYear"
            :month="getMiddleRowIndex(props.rowIndex) + 1"
            v-if="
              getMonthlyUserPayment(
                users[getCenterColIndex(props.colIndex)].id,
                getMiddleRowIndex(props.rowIndex) + 1
              ) != 0
            "
          />
        </span>
        <!-- 収支関連 ヘッダ -->
        <span v-if="isHeaderRow(props.rowIndex) && isRightCol(props.colIndex)">
          <color-select-btn
            @change="
              changeColor(
                balances[getRightColIndex(props.colIndex)].key,
                $event
              )
            "
          >
            <b>
              {{ balances[getRightColIndex(props.colIndex)].name }}
            </b>
          </color-select-btn>
        </span>
        <!-- 収支関連 内容 -->
        <span v-if="!isHeaderRow(props.rowIndex) && isRightCol(props.colIndex)">
          <span
            v-if="
              balances[getRightColIndex(props.colIndex)].key === 'otherBalance'
            "
          >
            {{ getMontlyOtherIncome(getMiddleRowIndex(props.rowIndex) + 1) }}
          </span>
          <span
            v-if="balances[getRightColIndex(props.colIndex)].key === 'spending'"
            :class="
              getMontlyOtherSpending(getMiddleRowIndex(props.rowIndex) + 1) &&
                'minus'
            "
          >
            {{ getMontlyOtherSpending(getMiddleRowIndex(props.rowIndex) + 1) }}
          </span>
          <span
            v-if="balances[getRightColIndex(props.colIndex)].key === 'income'"
          >
            {{ getMontlyIncome(getMiddleRowIndex(props.rowIndex) + 1) }}
          </span>
          <span
            v-if="balances[getRightColIndex(props.colIndex)].key === 'balance'"
            :class="
              getMontlyOtherBalance(getMiddleRowIndex(props.rowIndex) + 1) <
                0 && 'minus'
            "
          >
            {{ getMontlyOtherBalance(getMiddleRowIndex(props.rowIndex) + 1) }}
          </span>
        </span>
      </template>
    </flex-table>
    <!--  テーブル -->

    <v-overlay :dark="false" :value="overlay">
      <v-card class="form-wrapper"> </v-card>
    </v-overlay>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { ExStore } from 'vuex'
import {
  dateFormat,
  DateString,
  Weekday,
  weekday as wday,
  weekdayReading,
  years
} from '@/types'
import { FilterQuery } from '@/store/attendance/types'
import dayjs from 'dayjs'
import { Route } from 'vue-router'
import { DisplayInfo, DisplaySize } from '@/components/organisms/FlexTable.vue'
import {
  getMonthlyUserPayment,
  getMontlyAllUserPayment,
  getMontlyOtherSpending,
  getMontlyOtherIncome
} from '@/util/paymentCalc'
import { PaymentsBalanceColor } from '@/store/setting/types'
import { Color } from '@/types/color'
import { tableData } from '@/util/tableData'
import ipcHandler from '@/util/ipcHandler'

export const balances = [
  { key: 'otherBalance', name: '別途収益' },
  { key: 'income', name: '収益合計' },
  { key: 'spending', name: '出費' },
  { key: 'balance', name: '粗利益' }
]

@Component({
  components: {
    FlexTable: () => import('@/components/organisms/FlexTable.vue'),
    UserPaymentBtn: () => import('@/components/atoms/UserPaymentBtn.vue'),
    ColorSelectBtn: () => import('@/components/atoms/ColorSelectBtn.vue')
  },
  filters: {
    formatDate: (date: string) => {
      const d = dayjs(date)
      return `${d.format('M/DD')} ${weekdayReading[d.day()]}`
    }
  }
})
export default class PaymentBalance extends Vue {
  @Prop({ default: () => String(dayjs().year()) }) year!: string
  @Prop({ default: () => String(dayjs().month()) }) month!: string
  @Prop({ default: () => null }) weekday!: Weekday | null

  $store!: ExStore
  query: FilterQuery = {
    attend: undefined,
    date: undefined,
    dates: undefined,
    weekday: undefined,
    span: undefined,
    userId: undefined,
    desc: false
  }
  tableId = 'flex-table'
  overlay = false
  balances = [
    { key: 'otherBalance', name: '別途収益' },
    { key: 'income', name: '収益合計' },
    { key: 'spending', name: '出費' },
    { key: 'balance', name: '粗利益' }
  ]
  inactiveUsers = [
    { value: false, text: 'アクティブユーザー' },
    { value: true, text: '全ユーザー' }
  ]
  inactive = false
  iYear = String(dayjs().year())
  iMonth = String(dayjs().month() + 1)
  iWeekday: Weekday | null = null

  get color() {
    return this.$store.getters['setting/colors'].paymentsBalance
  }

  get displaySize() {
    return this.$store.getters['setting/size'].paymentsBalance
  }
  set displaySize(size: DisplaySize) {
    this.$store.dispatch('setting/updateSize', { paymentsBalance: size })
  }

  get up() {
    return this.$store.getters['userPayment/all']
  }

  get mothes() {
    const all = [...Array(12).keys()].map(i => i + 1)
    //if (this.iMonth) return [all[0], all[Number(this.iMonth)]]
    return all
  }

  get users() {
    const weekday = this.iWeekday ? this.iWeekday : undefined
    const includeInactive = this.inactive
    const query = {
      weekday,
      includeInactive
    }
    return this.$store.getters['user/filterByQuery'](query)
  }

  get yearOptions() {
    return years.map(y => ({
      text: String(y),
      value: String(y)
    }))
  }

  get monthOptions() {
    return [...Array(13).keys()].map(i => ({
      text: i == 0 ? '全て' : String(i),
      value: String(i)
    }))
  }

  get weekdays() {
    return [
      { text: '全て', value: 'all' },
      ...wday.map((w, i) => ({ text: weekdayReading[i], value: w }))
    ]
  }

  /* for Table -- */
  get rowNum() {
    const header = this.headerRowNum
    return this.mothes.length + header
  }

  get colNum() {
    const left = this.leftColNum
    const right = this.rightColNum
    return this.centerColNum + left + right
  }

  get headerRowNum() {
    return 1
  }

  get centerColNum() {
    return this.users.length
  }

  get leftColNum() {
    return 1
  }

  get rightColNum() {
    return this.balances.length
  }
  /* -- for Table */

  @Watch('$route')
  onUpdateRoute(to: Route, from: Route) {
    const y = String(to.query.year || this.iYear)
    const m = String(to.query.month || this.iMonth)
    const wd = to.query.weekday
    const w = wd && wd != 'all' ? (String(to.query.weekday) as Weekday) : null
    this.iYear = y
    this.iMonth = m
    this.iWeekday = w
    this.setQuery()
    this.setDates({ year: y, month: m, weekday: w })
  }
  created() {
    this.iYear = this.year
    this.iMonth = '0'
    this.setQuery()
  }
  setQuery() {
    const term = this.iMonth == '0' ? 'year' : 'month'
    const month = this.iMonth == '0' ? '01' : this.iMonth
    const from = dayjs(`${this.iYear}/${month}/01`)
    const to = dayjs(`${this.iYear}/${month}/01`).add(1, term)
    this.query.span = {
      from: from.format(dateFormat) as DateString,
      to: to.format(dateFormat) as DateString
    }
    this.query.weekday = this.iWeekday || undefined
  }
  setDates(d: {
    year?: string | null
    month?: string | null
    day?: string | null
    weekday?: string | null
  }) {
    const payload = {
      year: d.year || null,
      month: d.month || null,
      day: d.day || null,
      weekday: d.weekday || null
    }
    this.$store.dispatch('setting/updateDates', { paymentsBalance: payload })
  }
  changeColor(key: string, color: Color) {
    console.log(key, color)
    this.$store.dispatch('setting/updatePBColor', {
      [key as keyof PaymentsBalanceColor]: color
    })
  }
  handleAddDailyPb() {
    this.overlay = true
  }
  handleChangeYear(year: string) {
    const weekday = this.iWeekday
    const month = this.iMonth
    this.$router.push({
      name: 'PaymentsBalance',
      query: { year, month, weekday }
    })
  }
  handleChangeMonth(month: string) {
    const weekday = this.iWeekday
    const year = this.iYear
    this.$router.push({
      name: 'PaymentsBalance',
      query: { year, month, weekday }
    })
  }
  handleChangeWeek(weekday: Weekday) {
    const year = this.iYear
    const month = this.iMonth ? this.month : this.iMonth
    this.$router.push({
      name: 'PaymentsBalance',
      query: { year, month, weekday }
    })
  }
  handleTableSave() {
    const weekday = this.iWeekday ? this.iWeekday : undefined
    const csv = tableData.paymentBalance({
      year: Number(this.iYear),
      weekday
    })
    ipcHandler.saveCsv(csv)
  }
  /* 金額計算 */
  getMontlyOtherBalance(month: number) {
    const other = Number(this.getMontlyOtherIncome(month))
    const user = Number(this.getMontlyAllUserPayment(month))
    const spend = Number(this.getMontlyOtherSpending(month))
    return other + user + spend
  }
  getMontlyIncome(month: number) {
    const other = Number(this.getMontlyOtherIncome(month))
    const user = Number(this.getMontlyAllUserPayment(month))
    return other + user
  }
  getMontlyOtherSpending(month: number) {
    const wday = this.iWeekday ? this.iWeekday : undefined
    return getMontlyOtherSpending(Number(this.iYear), month, wday)
  }
  getMontlyOtherIncome(month: number) {
    const wday = this.iWeekday ? this.iWeekday : undefined
    return getMontlyOtherIncome(Number(this.iYear), month, wday)
  }
  getMontlyAllUserPayment(month: number) {
    const wday = this.iWeekday ? this.iWeekday : undefined
    return getMontlyAllUserPayment(Number(this.iYear), month, wday)
  }
  getMonthlyUserPayment(userId: number, month: number) {
    return getMonthlyUserPayment(userId, Number(this.iYear), month)
  }
  /* for Table -- */
  getCellStyle(rI: number, cI: number, info: DisplayInfo) {
    const color = { bg: '', font: '', border: '' }
    if (this.isHeaderRow(rI)) {
      if (this.isCenterCol(cI)) {
        const user = this.users[this.getCenterColIndex(cI)]
        color.bg = user.bgColor as string
        color.font = user.fontColor as string
      }
      if (this.isRightCol(cI)) {
        const balance = this.balances[this.getRightColIndex(cI)]
        const bc = this.color[balance.key as keyof PaymentsBalanceColor]
        color.border = `${info.cellHeight / 10}px solid ${bc}`
      }
    }
    let style = ''
    if (color.bg) style += ` background: ${color.bg}; `
    if (color.font) style += `  color:${color.font}; `
    if (color.border) style += `  border:${color.border}; `
    return style
  }
  isHeaderRow(rI: number) {
    return rI < this.headerRowNum
  }
  isLeftCol(cI: number) {
    return cI < this.leftColNum
  }
  isRightCol(cI: number) {
    return cI >= this.colNum - this.rightColNum
  }
  isCenterCol(cI: number) {
    return !this.isLeftCol(cI) && !this.isRightCol(cI)
  }
  getCenterColIndex(cI: number) {
    return cI - this.leftColNum
  }
  getRightColIndex(cI: number) {
    return cI - this.leftColNum - this.centerColNum
  }
  getMiddleRowIndex(rI: number) {
    return rI - this.headerRowNum
  }
  /* -- for Table */
}
</script>
<style lang="scss" scoped>
.paymentbalance {
  margin: 0;
  padding: 0 0px;
  max-width: 100vw !important;
  overflow-x: hidden;
  .usertype {
    width: 10%;
  }
  .form-wrapper {
    padding: 10px;
    width: 50vw;
    min-height: 50vh;
    color: black;
    background: white !important;
  }
  .info-header .v-btn {
    margin-right: 10px;
  }
  h2 {
    margin-right: 20px;
  }
  .dates {
    max-width: 300px;
    .v-input {
      margin-right: 10px;
    }
  }
}
.paymentbalance,
.contents {
  height: 100%;
}
</style>
