<template>
  <v-container class="setting d-flex flex-column">
    <div class="">
      <h2>
        <color-select-btn @change="changeColor('menu', $event)">
          <v-icon :style="`color:${color.menu};`">mdi-cog</v-icon>
          設定一覧
        </color-select-btn>
      </h2>
      <v-divider></v-divider>
    </div>
    <div class="contents-wrapper ">
      <div class="setting-items">
        <v-container class=" d-flex justify-space-between">
          <h3>アプリケーションのデータを外部ファイルに保存</h3>
          <v-btn color="success" @click="handleAppSave">
            <v-icon>mdi-content-save</v-icon>
            保存
          </v-btn>
        </v-container>
        <v-divider></v-divider>

        <v-container class=" d-flex justify-space-between">
          <h3>アプリケーションのデータを読み込み</h3>
          <v-file-input
            v-if="!loaded"
            class="fileinput"
            accept="application/JSON"
            label="データを選択"
            outlined
            hide-details
            solo
            flat
            dense
            :error="error"
            @change="handleFileChange"
          ></v-file-input>
          <div v-if="loaded">
            データ読み込み完了
            <v-btn @click="loaded = false">再度読み込み</v-btn>
          </div>
        </v-container>
        <v-divider></v-divider>
      </div>
    </div>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { ExStore } from 'vuex'
import { Color, colors } from '@/types/color'
import ipcHandler from '@/util/ipcHandler'
import { SettingColor } from '@/store/setting/types'
import { isState } from '@/util'
import { loadStore } from '@/util/ipcHandler'

@Component({
  components: {
    MwTextField: () => import('@/components/atoms/MwTextField.vue'),
    MwSelectField: () => import('@/components/atoms/MwSelectField.vue'),
    ColorSelectField: () => import('@/components/atoms/ColorSelectField.vue'),
    ColorSelectBtn: () => import('@/components/atoms/ColorSelectBtn.vue')
  }
})
export default class UserManage extends Vue {
  $store!: ExStore
  error = false
  loaded = false

  get color() {
    return this.$store.getters['setting/colors'].setting
  }

  get colors() {
    return colors.map(c => ({
      text: c,
      value: c
    }))
  }
  changeColor(key: string, color: Color) {
    this.$store.dispatch('setting/updateSettingColor', {
      [key as keyof SettingColor]: color
    })
  }
  handleAppSave() {
    ipcHandler.saveStateAsFile()
  }

  async handleFileChange(file: File) {
    if (!file) return
    const reader = new FileReader()
    reader.onload = () => {
      try {
        const data = JSON.parse(reader.result as string)
        if (isState(data)) {
          loadStore(data)
          this.loaded = true
        } else {
          this.error = true
          console.log(reader.result)
        }
      } catch (e) {
        this.error = true
        console.log(e)
      }
    }

    reader.readAsText(file)
  }
}
</script>
<style lang="scss">
.setting {
  .fileinput {
    max-width: 20%;
  }
  .main {
    max-height: 100%;
    overflow-y: auto;
  }
  .contents-wrapper {
    max-height: calc(100% - 120px);
  }
  .side {
    width: 30%;
    height: 100%;
    overflow-y: auto;
  }
  .setting {
    height: 100%;
    .setting-items {
      width: 80%;
      margin: 20px auto;
    }
  }
  .item {
    border-bottom: solid 1px #ddd;
  }
  .color-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: solid 1px #ddd;
    border-radius: 50%;
  }
}
</style>
