<template>
  <v-container class="usermanage d-flex flex-column">
    <div class="">
      <div class="d-flex justify-space-between">
        <h2>
          <color-select-btn @change="changeColor('menu', $event)">
            <v-icon :style="`color:${color.menu};`">mdi-account-circle</v-icon>
            利用者一覧
          </color-select-btn>
        </h2>
        <v-btn class="savebtn" color="warning" @click="handleTableSave">
          表を保存
        </v-btn>
      </div>
      <v-divider></v-divider>
      <h4>総利用者数：{{ users.length }}人</h4>
      <v-container class="d-flex justify-start">
        <v-btn color="success" @click="handleAdd">追加</v-btn>
      </v-container>
    </div>
    <!-- <v-btn @click="setOrder">セットorder</v-btn> -->
    <div class="contents-wrapper d-flex flex-grow-1">
      <v-card tile class="side">
        <v-list>
          <v-list-item
            @click="handleSelect(user.id)"
            :class="`item ${user.inactive && 'inactive'}`"
            v-for="(user, index) in users"
            v-bind:key="user.id"
          >
            <v-list-item-icon>
              <div
                class="color-icon"
                :style="`background:${user.bgColor};`"
              ></div>
            </v-list-item-icon>
            <v-list-item-content>
              <div class="d-flex justify-space-between">
                <span>
                  {{ user.name || '名無し' }}
                </span>
                <div>
                  <v-btn
                    @click.stop="handleChangeOrder(index, true)"
                    icon
                    class="allow-btn"
                  >
                    <v-icon>
                      mdi-chevron-up
                    </v-icon>
                  </v-btn>
                  <v-btn
                    @click.stop="handleChangeOrder(index, false)"
                    icon
                    class="allow-btn"
                  >
                    <v-icon>
                      mdi-chevron-down
                    </v-icon>
                  </v-btn>
                </div>
              </div>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
      <v-container class="main flex-grow-1">
        <user-form
          v-if="userId != null"
          :userId="userId"
          :isEditing="editingId == userId"
          @edit="handleEdit($event, userId)"
        />
      </v-container>
    </div>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { ExStore } from 'vuex'
import {
  weekday,
  weekdayReading,
  paymentType,
  paymentTypeReading,
  prices
} from '@/types'
import User from '@/types/user'
import { Color, colors } from '@/types/color'
import { UserManageColor } from '@/store/setting/types'
import { tableData } from '@/util/tableData'
import ipcHandler from '@/util/ipcHandler'

type Payload = Partial<User>

@Component({
  components: {
    MwTextField: () => import('@/components/atoms/MwTextField.vue'),
    MwSelectField: () => import('@/components/atoms/MwSelectField.vue'),
    ColorSelectField: () => import('@/components/atoms/ColorSelectField.vue'),
    UserForm: () => import('@/components/organisms/UserForm.vue'),
    ColorSelectBtn: () => import('@/components/atoms/ColorSelectBtn.vue')
  }
})
export default class UserManage extends Vue {
  $store!: ExStore
  editingUsers: number[] = []
  userId: number | null = null
  editingId: number | null = null

  get color() {
    return this.$store.getters['setting/colors'].userManage
  }

  get colors() {
    return colors.map(c => ({
      text: c,
      value: c
    }))
  }

  get priceOptions() {
    return prices.map(p => ({
      text: String(p),
      value: p
    }))
  }

  get paymentTypes() {
    return paymentType.map((p, i) => ({
      text: paymentTypeReading[i],
      value: p
    }))
  }

  get weekdays() {
    return weekday.map((w, i) => ({ text: weekdayReading[i], value: w }))
  }

  get users() {
    return this.$store.getters['user/all']
  }

  setOrder() {
    this.users.forEach(u => {
      this.updateUser(u.id, Object.assign({}, u, { order: u.id }))
    })
  }

  changeColor(key: string, color: Color) {
    this.$store.dispatch('setting/updateUMColor', {
      [key as keyof UserManageColor]: color
    })
  }

  updateUser(id: number, payload: Payload) {
    this.$store.dispatch('user/updateUser', { id, payload })
  }

  handleEdit(edit: boolean, userId: number) {
    this.editingId = edit ? userId : null
  }

  isEditing(id: number) {
    return this.editingUsers.indexOf(id) != -1
  }

  handleSave(id: number) {
    this.editingUsers = this.editingUsers.filter(index => index != id)
  }

  handleDelete(id: number) {
    this.$store.dispatch('attendance/deleteAttendancesByUser', { userId: id })
    this.$store.dispatch('user/deleteUser', { id })
  }

  handleChangeOrder(index: number, up: boolean) {
    const t1 = this.users[index]
    const t2Index = up ? index - 1 : index + 1
    if (t2Index < 0 || t2Index > this.users.length - 1) return
    const t2 = this.users[t2Index]

    console.log(t1.name + t1.order, t2.name + t2.order)

    this.updateUser(t1.id, { order: t2.order })
    this.updateUser(t2.id, { order: t1.order })
  }

  async handleAdd() {
    const user = {
      name: '',
      weekday: [weekday[1]],
      paymentType: paymentType[0],
      basicCharge: 1000
    }
    const id = await this.$store.dispatch('user/addUser', user)
    this.editingId = id
    this.userId = id
  }

  handleSelect(id: number) {
    this.userId = id
    this.editingId = null
  }

  handleTableSave() {
    const csv = tableData.users()
    ipcHandler.saveCsv(csv)
  }
}
</script>
<style lang="scss">
.usermanage {
  .savebtn {
    margin: 10px;
  }
  .inactive {
    background: #efefef;
  }
  .listitem div {
    margin: 0;
  }
  .allow-btn {
    height: 26px !important;
    width: 26px !important;
  }
  .user-form {
    margin-bottom: 20px;
  }
  .main {
    max-height: 100%;
    overflow-y: auto;
  }
  .contents-wrapper {
    max-height: calc(100% - 120px);
  }
  .side {
    width: 30%;
    height: 100%;
    overflow-y: auto;
  }

  .item {
    border-bottom: solid 1px #ddd;
  }
  .color-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: solid 1px #ddd;
    border-radius: 50%;
  }
  height: 100%;
}
</style>
