<template>
  <div>
    <div v-if="!showCtrl">
      <span class="ctl-btn" @click="acticeCtrl = true">
        ー
      </span>
    </div>
    <div v-else>
      <select
        v-if="showAttend"
        @change="handleChange({ attend: $event.target.value == 'true' })"
        :value="attend"
        :class="attendStyle"
      >
        <option
          :value="item.value"
          v-for="item in items"
          v-bind:key="`${userId}${date}${item.value}`"
        >
          {{ item.text }}
        </option>
      </select>
      <v-btn
        v-if="showAttend && attendance && attendance.attend != null"
        @click="handleReset"
        icon
        color="#ddd"
        class="reset-btn"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <div v-if="attendance && attendance.attend && !attendance.typeMonth">
        <select
          @change="handleChange({ charge: Number($event.target.value) })"
          :class="attendStyle"
          :value="String(charge)"
        >
          <option
            :value="item.value"
            v-for="item in priceOptions"
            v-bind:key="`${userId}${date}${item.value}`"
          >
            {{ item.text }}
          </option>
        </select>
        <v-btn @click="handleReset" icon color="blue" class="reset-btn">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <div v-if="attendance && attendance.attend && attendance.typeMonth">
        月:出席
        <v-btn @click="handleReset" icon color="blue" class="reset-btn">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import Attendance from '@/types/attendance'
import { ExStore } from 'vuex'
import { prices, DateString } from '@/types'
import dayjs from 'dayjs'
import { weekday } from '@/types'

type Payload = Partial<Attendance>

@Component
export default class AttendanceForm extends Vue {
  @Prop({ default: '' }) date!: DateString
  @Prop({ default: null }) userId!: number | null
  @Prop({ default: null }) attendanceId!: number | null
  @Prop({ default: '' }) label!: string

  $store!: ExStore
  acticeCtrl = false
  _aId: number | null = null
  items = [
    { text: '▶︎', value: null },
    { text: '出席', value: true },
    { text: '欠席', value: false }
  ]

  @Watch('attendanceId')
  onChangeAttendance(id: number) {
    this._aId = id
  }

  get attendance() {
    const id = typeof this._aId == 'number' ? this._aId : -1
    return this.$store.getters['attendance/get'](id)
  }

  get user() {
    const { userId } = this
    return typeof userId == 'number'
      ? this.$store.getters['user/get'](userId)
      : null
  }

  get attendStyle() {
    if (this.attendance && typeof this.attendance.attend == 'boolean') return ''
    return 'grayout'
  }

  get attend() {
    const { attendance } = this
    return attendance ? attendance.attend : null
  }

  get showCtrl() {
    const weeks = this.user?.weekday || []
    const wDay = weekday[dayjs(this.date).day()]
    return this.attendance || this.acticeCtrl || weeks.includes(wDay)
  }

  get showAttend() {
    const { attendance } = this
    return !attendance || !attendance.attend
  }

  get showCharge() {
    const { attendance } = this
    return attendance && attendance.attend
  }

  get priceOptions() {
    return prices.map(p => ({
      text: String(p),
      value: p
    }))
  }

  get charge() {
    const { attendance, user } = this
    if (!attendance) return user?.basicCharge
    return attendance.charge ? attendance.charge : user?.basicCharge
  }

  created() {
    this._aId = this.attendanceId
  }

  handleReset() {
    const typeMonth = this.user?.paymentType == 'month'
    this.handleChange({
      attend: null,
      typeMonth
    })
  }

  async handleChange(payload: Payload) {
    if (typeof this._aId == 'number') {
      const _payload = !this.attendance?.attend
        ? { charge: this.user?.basicCharge || null, ...payload }
        : payload
      this.$store.dispatch('attendance/updateAttendance', {
        id: this._aId,
        payload: _payload
      })
      return
    }
    const { date, userId, user } = this
    if (!date || typeof userId != 'number')
      return new Error('no date or userID')
    const newAttendance = Object.assign(
      {
        date,
        user: userId,
        attend: null,
        charge: user?.basicCharge || null,
        typeMonth: user?.paymentType == 'month'
      },
      payload
    )

    this._aId = this.$store.getters['attendance/latestId'] + 1
    this.$store.dispatch('attendance/addAttendance', newAttendance)
  }
}
</script>
<style lang="scss">
.color-block .v-chip {
  background: rgba(255, 255, 255, 0.7) !important;
}
.grayout {
  color: #ddd;
}
select {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 2px 5px;
}
.reset-btn {
  height: 16px !important;
  width: 16px !important;
}
.ctl-btn {
  cursor: pointer;
  color: #ccc;
}
</style>
