<template>
  <span class="color-btn" @click="handleFocus">
    <slot></slot>
    <div>
      <v-overlay class="overlay" v-if="overlay">
        <v-card class="color-table-wrapper">
          <color-table class="color-table" @select="handleSelect" />
        </v-card>
      </v-overlay>
    </div>
  </span>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from 'vue-property-decorator'
import { Color } from '@/types/color'

export type OptionItem = {
  text: string
  value: any
}

@Component({
  components: {
    ColorTable: () => import('@/components/molecules/ColorTable.vue')
  }
})
export default class ColorSelectBtn extends Vue {
  @Prop({ default: '' }) value!: string

  @Watch('value')
  onChangeValue(value: string) {
    this._value = value
  }

  @Emit('change')
  onChange(value: any) {
    return value
  }

  _value: any = ''
  overlay = false

  created() {
    this._value = this.value
  }

  handleSelect(color: Color) {
    this.overlay = false
    this._value = color
    this.onChange(color)
  }

  handleFocus() {
    this.overlay = true
  }
}
</script>
<style lang="scss">
.color-btn {
  z-index: 3;
  position: relative;
  cursor: pointer;
}
.color-table-wrapper {
  padding: 10px;
  width: 90vw;
  height: 80vh;
  background: white !important;
}
.color-table {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: white;
}
.color-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: solid 1px #ddd;
  border-radius: 50%;
}
</style>
