<template>
  <div
    :style="style"
    class="color-block block d-flex justify-center align-center"
  >
    <v-chip
      label
      color="rgba(255,255,255,0.7)"
      text-color="#444"
      @click.stop="$emit('click')"
    >
      {{ color }}
    </v-chip>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { Color } from '@/types/color'

@Component
export default class ColorBlock extends Vue {
  @Prop({ default: '' }) color!: Color

  get style() {
    return `background:${this.color};`
  }
}
</script>
<style lang="scss">
.color-block .v-chip {
  background: rgba(255, 255, 255, 0.7) !important;
}
</style>
