<template>
  <div class="d-flex justify-center align-center">
    <div class="color-icon" :style="`background:${_value};`"></div>
    <v-text-field
      v-if="locked"
      :label="label"
      single-line
      dense
      :value="value"
      disabled
      color="brack"
      hide-details
      solo
      flat
      class="disabled"
    ></v-text-field>
    <v-text-field
      v-if="!locked"
      :label="label"
      single-line
      outlined
      dense
      v-model="_value"
      hide-details
      @click="handleFocus"
    ></v-text-field>
    <v-overlay :value="overlay">
      <v-card class="color-table-wrapper">
        <color-table class="color-table" @select="handleSelect" />
      </v-card>
    </v-overlay>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from 'vue-property-decorator'
import { Color } from '@/types/color'

export type OptionItem = {
  text: string
  value: any
}

@Component({
  components: {
    ColorTable: () => import('@/components/molecules/ColorTable.vue')
  }
})
export default class ColorSelectField extends Vue {
  @Prop({ default: true }) locked!: boolean
  @Prop({ default: '' }) label!: string
  @Prop({ default: '' }) value!: string

  @Watch('value')
  onChangeValue(value: string) {
    this._value = value
  }

  @Emit('change')
  onChange(value: any) {
    return value
  }

  _value: any = ''
  overlay = false

  @Watch('locked')
  handleChangeLocked(locked: boolean) {
    if (locked && this._value != this.value) {
      this.onChange(this._value)
    } else {
      this._value = this.value
    }
  }

  created() {
    this._value = this.value
  }

  handleSelect(color: Color) {
    this._value = color
    this.overlay = false
  }

  handleFocus() {
    this.overlay = true
  }
}
</script>
<style lang="scss">
input:disabled {
  color: #263238 !important;
}
.theme--light.v-select .v-select__selection--disabled {
  color: #263238 !important;
}
.color-table-wrapper {
  padding: 10px;
  width: 80vw;
  height: 50vh;
  background: white !important;
}
.color-table {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background: white;
}
.color-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: solid 1px #ddd;
  border-radius: 50%;
}
</style>
