<template>
  <div>
    <v-select
      :items="items"
      v-if="locked"
      :label="label"
      single-line
      dense
      :value="value"
      disabled
      color="brack"
      background-color="#fff"
      hide-details
      solo
      flat
      :chips="multi"
      :multiple="multi"
      class="disabled"
    ></v-select>
    <v-select
      :items="items"
      v-if="!locked"
      :label="label"
      single-line
      outlined
      dense
      v-model="_value"
      hide-details
      :chips="multi"
      :multiple="multi"
    ></v-select>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from 'vue-property-decorator'

export type OptionItem = {
  text: string
  value: any
}

@Component
export default class MwSelectField extends Vue {
  @Prop({ default: true }) locked!: boolean
  @Prop({ default: '' }) label!: string
  @Prop({ default: '' }) value!: string
  @Prop({ default: () => [] }) items!: OptionItem[]
  @Prop({ default: false }) multi!: boolean

  @Emit('change')
  onChange(value: any) {
    return value
  }

  _value: any = ''

  @Watch('locked')
  handleChangeLocked(locked: boolean) {
    if (locked && this._value != this.value) {
      this.onChange(this._value)
    } else {
      this._value = this.value
    }
  }

  created() {
    this._value = this.value
  }
}
</script>
<style lang="scss">
input:disabled {
  color: #263238 !important;
}
.theme--light.v-select .v-select__selection--disabled {
  color: #263238 !important;
}
</style>
