<template>
  <div>
    <v-switch v-if="locked" :label="label" :value="value" disabled></v-switch>
    <v-switch v-if="!locked" :label="label" v-model="iValue"></v-switch>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from 'vue-property-decorator'

export type OptionItem = {
  text: string
  value: string
}

@Component
export default class MwSwitch extends Vue {
  @Prop({ default: true }) locked!: boolean
  @Prop({ default: '' }) label!: string
  @Prop({ default: false }) value!: boolean

  @Emit('change')
  onChange(value: boolean) {
    return value
  }

  iValue = false

  @Watch('locked')
  handleChangeLocked(locked: boolean) {
    if (locked && this.iValue != this.value) {
      this.onChange(this.iValue)
    } else {
      this.iValue = this.value
    }
  }

  @Watch('iValue')
  handleChangeValue(val: boolean) {
    console.log('handleChangeValue')
    this.onChange(val)
  }

  created() {
    this.iValue = this.value
  }
}
</script>
<style lang="scss">
input:disabled {
  color: #263238 !important;
}
</style>
