<template>
  <div>
    <v-textarea
      v-if="locked"
      name="input-7-4"
      disabled
      :value="value"
      color="brack"
      background-color="#fff"
      class="disabled"
      hide-details
    ></v-textarea>
    <v-textarea
      v-if="!locked"
      outlined
      name="input-7-4"
      v-model="_value"
      color="brack"
      hide-details
    ></v-textarea>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from 'vue-property-decorator'

@Component
export default class MwTextArea extends Vue {
  @Prop({ default: true }) locked!: boolean
  @Prop({ default: '' }) label!: string
  @Prop({ default: '' }) value!: string

  @Emit('change')
  onChange(value: string) {
    return value
  }

  _value = ''

  @Watch('locked')
  handleChangeLocked(locked: boolean) {
    if (locked && this._value != this.value) {
      this.onChange(this._value)
    } else {
      this._value = this.value
    }
  }

  created() {
    this._value = this.value
  }
}
</script>
<style lang="scss">
input:disabled {
  color: #263238 !important;
}
.disabled {
  padding-bottom: 2px !important;
}
</style>
