<template>
  <div>
    <v-text-field
      v-if="locked"
      :label="label"
      single-line
      dense
      :value="value"
      disabled
      color="brack"
      background-color="#fff"
      hide-details
      solo
      flat
      class="disabled"
    ></v-text-field>
    <v-text-field
      v-if="!locked"
      :label="label"
      single-line
      outlined
      dense
      v-model="_value"
      hide-details
    ></v-text-field>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit, Watch } from 'vue-property-decorator'

@Component
export default class MwTextField extends Vue {
  @Prop({ default: true }) locked!: boolean
  @Prop({ default: '' }) label!: string
  @Prop({ default: '' }) value!: string

  @Emit('change')
  onChange(value: string) {
    return value
  }

  _value = ''

  @Watch('locked')
  handleChangeLocked(locked: boolean) {
    if (locked && this._value != this.value) {
      this.onChange(this._value)
    } else {
      this._value = this.value
    }
  }

  created() {
    this._value = this.value
  }
}
</script>
<style lang="scss">
input:disabled {
  color: #263238 !important;
}
.disabled {
  padding-bottom: 2px !important;
}
</style>
