<template>
  <div class="payment-btns">
    <v-btn
      class="btn"
      color="success"
      outlined
      small
      v-if="isCharged"
      @click="update(false)"
    >
      済
    </v-btn>
    <v-btn
      class="btn"
      color="red"
      outlined
      small
      v-if="!isCharged"
      @click="update(true)"
    >
      未
    </v-btn>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { datemonthFormat, DateMonthString } from '@/types'
import dayjs from 'dayjs'

@Component
export default class UserPaymentBtn extends Vue {
  @Prop() userId!: number
  @Prop() year!: number
  @Prop() month!: number

  get isCharged() {
    return this.userPayment ? this.userPayment.charged : false
  }

  get userPayment() {
    return this.$store.getters['userPayment/getByMonth'](this.userId, this.date)
  }

  get date() {
    const monthStr = dayjs(`${this.year}/${this.month}/01`).format(
      datemonthFormat
    ) as DateMonthString
    return monthStr
  }

  update(charged: boolean) {
    const up = this.userPayment
    if (up) {
      this.$store.dispatch('userPayment/updateUserPayment', {
        id: up.id,
        payload: { charged }
      })
    } else {
      this.$store.dispatch('userPayment/addUserPayment', {
        date: this.date,
        user: this.userId,
        charged
      })
    }
  }
}
</script>
<style lang="scss">
.payment-btns {
  display: inline-block;
  .btn {
    border: none !important;
    padding: 2px !important;
    min-width: 10px !important;
    height: 16px !important;
    width: 16px !important;
  }
}
</style>
