<template>
  <div class="d-flex flex-wrap">
    <color-block
      class="block"
      :color="color"
      v-for="color in colors"
      v-bind:key="color"
      @click="onSelect(color)"
    />
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Emit } from 'vue-property-decorator'
import { colors as c, Color } from '@/types/color'

@Component({
  components: {
    ColorBlock: () => import('@/components/atoms/ColorBlock.vue')
  }
})
export default class ColorTable extends Vue {
  @Prop({ default: '' }) color!: string

  @Emit('select')
  onSelect(color: Color) {
    return color
  }

  get colors() {
    return c
  }
}
</script>
<style lang="scss" scoped>
.block {
  padding: 10px;
  width: 20%;
  height: 80px;
}
</style>
