<template>
  <v-container>
    <h2>日付を追加</h2>
    <v-divider></v-divider>
    <v-container class="d-flex justify-space-around">
      <v-container>
        <v-select
          :items="yearOptions"
          label="年"
          single-line
          outlined
          dense
          v-model="year"
          @change="updateWDay"
        ></v-select>
      </v-container>
      <v-container>
        <v-select
          :items="monthOptions"
          label="月"
          single-line
          outlined
          dense
          v-model="month"
          @change="updateWDay"
        ></v-select>
      </v-container>
      <v-container>
        <v-select
          :items="dayOptions"
          label="日"
          single-line
          outlined
          dense
          v-model="day"
          @change="updateWDay"
        ></v-select>
      </v-container>
      <v-container>
        <h2>{{ wDay }}曜日</h2>
      </v-container>
    </v-container>
    <v-container class="d-flex justify-space-between">
      <v-btn @click="handleSave" color="success">保存</v-btn>
      <v-btn @click="onClose" color="warning">キャンセル</v-btn>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator'
import { ExStore } from 'vuex'
import { weekdayReading, years, dateFormat, DateString } from '@/types'
import DailyPb from '@/types/dailyPaymentsBalance'
import dayjs from 'dayjs'

type Payload = Partial<Omit<DailyPb, 'id'>>

@Component({
  components: {
    MwTextField: () => import('@/components/atoms/MwTextField.vue'),
    MwSelectField: () => import('@/components/atoms/MwSelectField.vue')
  }
})
export default class DailyPbForm extends Vue {
  @Prop() currentDate!: string

  @Emit('close')
  onClose() {
    return
  }

  @Emit('add')
  onAdd(date: DateString) {
    return date
  }

  $store!: ExStore
  year = ''
  month = ''
  day = ''
  wDay = ''

  get yearOptions() {
    return years.map(y => ({
      text: String(y),
      value: String(y)
    }))
  }

  get monthOptions() {
    return [...Array(12).keys()].map(i => ({
      text: String(i + 1),
      value: String(i + 1)
    }))
  }

  get dayOptions() {
    if (!this.year || !this.month) return []
    const lastday = dayjs(`${this.year}/${this.month}`)
      .add(1, 'month')
      .subtract(1, 'day')
      .date()
    return [...Array(lastday).keys()].map(i => ({
      text: String(i + 1),
      value: String(i + 1)
    }))
  }

  updateWDay() {
    this.wDay = this.getWday()
  }

  getWday() {
    const { year, month, day } = this
    if (!year || !month || !day) return ''
    const date = dayjs(`${year}/${month}/${day}`).day()
    return weekdayReading[date]
  }

  created() {
    //TODO: 設定から曜日を取得
    const d = dayjs(this.currentDate)
    this.year = String(d.year())
    this.month = String(d.month() + 1)
    this.day = String(d.date())
    this.updateWDay()
  }

  handleSave() {
    const { year, month, day } = this
    if (!year || !month || !day) return
    const date = dayjs(`${year}/${month}/${day}`).format(
      dateFormat
    ) as DateString
    this.$store.dispatch('dailyPB/addDailyPB', { date })
    this.onAdd(date)
    this.onClose()
  }
}
</script>
<style lang="scss">
.select {
  display: inline-block;
}
</style>
