<template>
  <!--  テーブル -->
  <div
    :id="tableId"
    class="table flex-grow-1"
    :style="`font-size:${fontSize}em;`"
  >
    <!--  左側固定 -->
    <div
      class="float-col-left-group float-left"
      :style="`width:${leftGroupWidth}px;`"
      v-if="fixLeftNum"
    >
      <ul class="row-ul">
        <!--  固定ヘッダ -->
        <li
          class="fixed day row align-center justify-center row-left-group"
          :style="`width:${Number(leftGroupWidth)}px;`"
        >
          <ul
            class="col-ul d-flex align-center justify-center flex-nowrap"
            :style="responsiveStyle"
          >
            <li
              class="left-group-header user col d-flex align-center justify-center"
              v-for="cI in leftColIndexes"
              v-bind:key="`right-group-${cI}`"
              :style="getCellStyle(0, cI)"
            >
              <span>
                <slot name="cell" :rowIndex="0" :colIndex="cI">
                  r:0, c:{{ cI }}
                </slot>
              </span>
            </li>
          </ul>
        </li>
        <!--  ヘッダ -->
        <li class="day row align-center justify-center row-left-group">
          <ul
            class="col-ul d-flex align-center justify-center flex-nowrap"
            :style="responsiveStyle"
          >
            <li
              class="left-group-header user col d-flex align-center justify-center"
              v-for="cI in leftColIndexes"
              v-bind:key="`right-group-${cI}`"
              :style="getCellStyle(0, cI)"
            >
              <span>
                <slot name="cell" :rowIndex="0" :colIndex="cI">
                  r:0, c:{{ cI }}
                </slot>
              </span>
            </li>
          </ul>
        </li>
        <!--  メイン -->
        <li
          class="day row"
          v-for="rI in middleRowIndexes"
          v-bind:key="`left-group-${rI}`"
        >
          <ul
            class="col-ul  d-flex align-center justify-center flex-nowrap"
            :style="responsiveStyle"
          >
            <li
              class="user col d-flex align-center justify-center"
              v-for="cI in leftColIndexes"
              v-bind:key="`${rI}-${cI}`"
              :style="getCellStyle(rI, cI)"
            >
              <span>
                <!-- <span> </span> -->
                <slot name="cell" :rowIndex="rI" :colIndex="cI">
                  r:{{ rI }}, c:{{ cI }}
                </slot>
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--  真ん中 -->
    <div
      :id="centerGroupId"
      class="table-center-contents flex-grow-1 float-left"
      :style="`width:${responsive ? '100%' : centerGroupWidth + 'px'};`"
    >
      <ul class="row-ul">
        <!--  固定ヘッダ -->
        <li
          :id="fixedHeaderId"
          class="fixed day row row-left-group"
          :style="responsiveStyle"
        >
          <ul
            class="col-ul d-flex align-center justify-center flex-nowrap"
            :style="responsiveStyle"
          >
            <li
              class="user col d-flex align-center justify-center"
              v-for="cI in centerColIndexes"
              v-bind:key="`left-group-${cI}`"
              :style="getCellStyle(0, cI)"
            >
              <span>
                <slot name="cell" :rowIndex="0" :colIndex="cI">
                  r:{{ 0 }}, c:{{ cI }}
                </slot>
              </span>
            </li>
          </ul>
        </li>
        <li class="day row row-left-group">
          <ul
            class="col-ul d-flex align-center justify-center flex-nowrap"
            :style="responsiveStyle"
          >
            <li
              class="user col d-flex align-center justify-center"
              v-for="cI in centerColIndexes"
              v-bind:key="`left-group-${cI}`"
              :style="getCellStyle(0, cI)"
            >
              <span>
                <slot name="cell" :rowIndex="0" :colIndex="cI">
                  r:{{ 0 }}, c:{{ cI }}
                </slot>
              </span>
            </li>
          </ul>
        </li>
        <li
          class="day row d-flex align-center"
          v-for="rI in middleRowIndexes"
          v-bind:key="`center-middle-${rI}`"
        >
          <ul
            class="col-ul  d-flex align-center justify-center flex-nowrap"
            :style="responsiveStyle"
          >
            <li
              class="user col d-flex align-center justify-center"
              v-for="cI in centerColIndexes"
              v-bind:key="`${rI}-${cI}`"
              :style="getCellStyle(rI, cI)"
            >
              <span>
                <slot name="cell" :rowIndex="rI" :colIndex="cI">
                  r:{{ rI }}, c:{{ cI }}
                </slot>
                <!-- <span></span> -->
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--  右側固定 -->
    <div
      class="float-col-right-group  float-left"
      :style="`width:${rightGroupWidth}px;`"
      v-if="fixRightNum"
    >
      <ul class="row-ul">
        <!--  固定ヘッダ -->
        <li class="fixed day row ">
          <ul
            class="col-ul d-flex align-center justify-center flex-nowrap"
            :style="responsiveStyle"
          >
            <li
              class="left-group-header user col d-flex align-center justify-center"
              v-for="cI in rightColIndexes"
              v-bind:key="`left-group-${cI}`"
              :style="getCellStyle(0, cI)"
            >
              <span>
                <slot name="cell" :rowIndex="0" :colIndex="cI">
                  r:{{ 0 }}, c:{{ cI }}
                </slot>
              </span>
            </li>
          </ul>
        </li>
        <!--  ヘッダ -->
        <li class="day row  ">
          <ul
            class="col-ul d-flex align-center justify-center flex-nowrap"
            :style="responsiveStyle"
          >
            <li
              class="user col d-flex align-center justify-center"
              v-for="cI in rightColIndexes"
              v-bind:key="`left-group-${cI}`"
              :style="getCellStyle(0, cI)"
            >
              <span>
                <slot name="cell" :rowIndex="0" :colIndex="cI">
                  r:{{ 0 }}, c:{{ cI }}
                </slot>
              </span>
            </li>
          </ul>
        </li>
        <!--  メイン -->
        <li
          class="day row"
          v-for="rI in middleRowIndexes"
          v-bind:key="`right-group-${rI}`"
        >
          <ul
            class="col-ul  d-flex align-center justify-center flex-nowrap"
            :style="responsiveStyle"
          >
            <li
              class="user col d-flex align-center justify-center"
              v-for="cI in rightColIndexes"
              v-bind:key="`${rI}-${cI}`"
              :style="getCellStyle(rI, cI)"
            >
              <span class="balance">
                <slot name="cell" :rowIndex="rI" :colIndex="cI">
                  r:{{ rI }}, c:{{ cI }}
                </slot>
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- ここまで テーブル -->
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { ExStore } from 'vuex'

export type DisplaySize = 'ss' | 's' | 'm' | 'l'
export type DisplayInfo = {
  cellHeight: number
  cellWidth: number
  fontSize: number
}
export type GetStyle = (rI: number, cI: number, sizeInfo: DisplayInfo) => string

@Component({
  components: {
    AttendanceForm: () => import('@/components/atoms/AttendanceForm.vue'),
    DailyPbForm: () => import('@/components/organisms/DailyPbForm.vue')
  }
})
export default class Attendance extends Vue {
  @Prop({ default: '' }) id!: string
  @Prop({ default: 0 }) rowNum!: number
  @Prop({ default: 0 }) colNum!: number
  @Prop({ default: 0 }) fixLeftNum!: number
  @Prop({ default: 0 }) fixRightNum!: number
  @Prop({ default: 'm' }) displaySize!: DisplaySize
  @Prop({ default: () => () => '' }) cellStyle!: GetStyle
  @Prop({ default: false }) setManualCellSize!: boolean
  @Prop({ default: () => ({ x: 0, y: 0 }) }) scrollTo!: { x: number; y: number }
  @Prop({ default: false }) headerDick!: boolean

  $store!: ExStore
  fixedHeaderId = 'table-fixed-left-group'
  centerGroupId = 'table-center-group'
  bodyWidth = document.body.offsetWidth
  resizeBouncingTimer: NodeJS.Timeout | null = null
  sizeList = {
    ss: {
      cellHeight: 20,
      cellWidth: 70,
      fontSize: 0.6
    },
    s: {
      cellHeight: 30,
      cellWidth: 85,
      fontSize: 0.8
    },
    m: {
      cellHeight: 40,
      cellWidth: 100,
      fontSize: 1
    },
    l: {
      cellHeight: 50,
      cellWidth: 120,
      fontSize: 1.4
    }
  }

  get tableId() {
    return `${this.id}-'flex-table'`
  }

  get leftColIndexes() {
    return [...Array(this.fixLeftNum).keys()]
  }

  get centerColIndexes() {
    const cNum = this.colNum - this.fixRightNum - this.fixLeftNum
    return [...Array(cNum).keys()].map(i => i + this.fixLeftNum)
  }

  get rightColIndexes() {
    const start = this.colNum - this.fixRightNum
    return [...Array(this.fixRightNum).keys()].map(i => i + start)
  }

  get middleRowIndexes() {
    const start = 1
    return [...Array(this.rowNum - start).keys()].map(i => i + start)
  }

  get leftGroupWidth() {
    return this.cellWidth * this.fixLeftNum
  }

  get rightGroupWidth() {
    return this.cellWidth * this.fixRightNum
  }

  get centerGroupWidth() {
    return this.bodyWidth - this.leftGroupWidth - this.rightGroupWidth
  }

  get cellWidth() {
    const s = this.sizeList[this.displaySize]
    return s.cellWidth
  }

  get cellHeight() {
    const s = this.sizeList[this.displaySize]
    return s.cellHeight
  }

  get fontSize() {
    const s = this.sizeList[this.displaySize]
    return s.fontSize
  }

  get responsive() {
    return !this.fixLeftNum && !this.fixRightNum
  }

  get responsiveStyle() {
    return this.responsive ? 'width: 100%;' : ''
  }

  @Watch('scrollTo')
  onScroll(d: { x: number; y: number }) {
    this.scrollX(d.x)
    this.scrollY(d.y)
  }

  mounted() {
    const fiexedHeader = document.getElementById(this.fixedHeaderId)
    const mainContents = document.getElementById(this.centerGroupId)
    mainContents?.addEventListener('scroll', () => {
      const x = mainContents.scrollLeft
      fiexedHeader?.setAttribute('style', `margin-left: ${-1 * x}px`)
    })
    if (this.scrollTo && (this.scrollTo.x || this.scrollTo.y))
      this.onScroll(this.scrollTo)
    window.addEventListener('resize', this.handleResize)
  }

  beforeDestroy () {
      if (typeof window === 'undefined') return
      window.removeEventListener('resize', this.handleResize)
  }

  handleResize() {
    window.addEventListener('resize', () => {
        this.bodyWidth = document.body.offsetWidth
    })
  }

  scrollX(val: number) {
    const mainContents = document.getElementById(this.centerGroupId)
    const y = mainContents?.scrollTop || 0
    mainContents?.scrollTo(val, y)
  }

  scrollY(val: number) {
    const table = document.getElementById(this.tableId)
    const x = table?.scrollLeft || 0
    table?.scrollTo(x, val)
  }

  getCellStyle(rI: number, cI: number) {
    if (this.setManualCellSize)
      return this.cellStyle(rI, cI, this.sizeList[this.displaySize])
    const s = {
      cellHeight: this.cellHeight,
      cellWidth: this.cellWidth
    }
    if (rI == 0 && this.headerDick) s.cellHeight = s.cellHeight * 1.5
    const size = `height:${s.cellHeight}px; width:${s.cellWidth}px; `
    return `${size} ${this.cellStyle(rI, cI, this.sizeList[this.displaySize])}`
  }

  scrollToBottom() {
    const table = document.getElementById(this.tableId)
    const x = table?.scrollLeft || 0
    table?.scrollTo(x, 1000000)
  }
}
</script>
<style lang="scss" scoped>
.table::-webkit-scrollbar {
  display: none;
}
.table {
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 100%;
  padding-bottom: 50vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  ul,
  ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .fixed {
    position: absolute;
    background: white;
    z-index: 1;
    .btn {
      height: 24px !important;
      font-size: 90% !important;
      min-width: 0px !important;
      padding: 10px !important;
    }
  }
  .fixed + .day {
    opacity: 0;
  }
  .float-col-left-group .fixed {
    z-index: 2;
  }
  .day.row .col {
    height: 40px;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    display: block !important;
    overflow: hidden;
    border-left: 1px solid #eee;
    text-align: center;
    background: #fff;
  }
  /* 偶数列 */
  .day.row li:nth-child(2n) {
    background-color: rgba(33, 33, 0, 0.03);
  }
  /* 偶数行 */
  ul .day.row:nth-child(2n) .col {
    // background-color: rgba(0, 0, 0, 0.01);
    background: linear-gradient(
      43deg,
      rgba(33, 0, 33, 0.01) 0%,
      rgba(33, 0, 33, 0.01) 100%
    );
  }
  .day.row .col:first-child {
    border-left: none;
  }
  .user.col {
    font-size: 90%;
    display: block !important;
    overflow: hidden;
  }
  .float-col-left-group {
    .day.row {
      background: white;
    }
    .day.row .col:first-child {
      border-right: 1px solid #eee;
    }
    .day.row:nth-child(2) .col:first-child {
      border-right: none;
    }
  }
  #table-center-group {
    .row-ul {
      background: #fafafa;
      // border-bottom: 1px solid #eee;
    }
    ul li ul {
      background: #fff;
    }
  }
  .float-col-right-group {
    .day.row .col:first-child {
      border-left: 1px solid #eee;
    }
    .day.row:nth-child(2) .col:first-child {
      border-left: none;
    }
    .left-group-header {
      padding: 3px;
    }
    .left-group-header span {
      display: inline-block;
    }
    .day.row {
      background: white;
    }
    .balance .minus {
      color: red;
    }
    .balance input {
      display: inline-block;
      width: 90%;
      border: solid 1px #ddd;
      border-radius: 4px;
    }
  }
  .table-center-contents {
    overflow-x: auto;
    overflow-y: visible;
    min-height: 10px;
  }
}
</style>
