<template>
  <v-app-bar id="app-bar" app color="primary">
    <v-btn
      class="menu-button"
      @click="
        handleClickLink({
          name: 'Attendance'
        })
      "
    >
      <v-icon :style="`color:${colors.attendance.menu};`"
        >mdi-table-account</v-icon
      >
      出欠表
    </v-btn>
    <v-btn
      class="menu-button"
      @click="
        handleClickLink({
          name: 'IncomeSpending'
        })
      "
    >
      <v-icon :style="`color:${colors.incomeSpending.menu};`"
        >mdi-table-clock</v-icon
      >
      別途収支表
    </v-btn>
    <v-btn
      class="menu-button"
      @click="
        handleClickLink({
          name: 'PaymentsBalance'
        })
      "
    >
      <v-icon :style="`color:${colors.paymentsBalance.menu};`"
        >mdi-currency-usd-circle-outline</v-icon
      >
      合計収支表
    </v-btn>
    <v-btn
      class="menu-button"
      @click="
        handleClickLink({
          name: 'Users'
        })
      "
    >
      <v-icon :style="`color:${colors.userManage.menu};`"
        >mdi-account-circle</v-icon
      >
      利用者一覧
    </v-btn>

    <v-btn
      class="menu-button"
      @click="
        handleClickLink({
          name: 'Setting'
        })
      "
    >
      <v-icon :style="`color:${colors.setting.menu};`">mdi-cog</v-icon>
      設定
    </v-btn>
    <v-spacer></v-spacer>
    <v-btn
      class="menu-button"
      :disabled="loading"
      @click="
        handleStore
      "
    >
      <v-icon :style="`color:${colors.setting.menu};`">mdi-save</v-icon>
      保存
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { ExStore } from 'vuex'
import ipcHandler from '@/util/ipcHandler'

@Component({
  components: {}
})
export default class Header extends Vue {
  $store!: ExStore
  loading = false

  get colors() {
    return this.$store.getters['setting/colors']
  }

  handleClickLink(to: { name: string }) {
    if (this.$route.name === to.name) return
    this.$router.push(to)
  }
  
  async handleStore() {
    this.loading = true
    await ipcHandler.storeState()
    this.loading = false
  }
}
</script>
<style lang="scss" scoped>
.menu-button {
  margin-right: 20px;
}
</style>
