<template>
  <v-container class="income-spending d-flex">
    <!--  テーブル -->
    <flex-table
      :rowNum="rowNum"
      :colNum="colNum"
      :fixLeftNum="leftColNum"
      :fixRightNum="rightColNum"
      :cellStyle="getCellStyle"
      :displaySize="displaySize"
      :setManualCellSize="true"
      :scrollTo="tableScroll"
    >
      <template v-slot:cell="props">
        <input
          type="hidden"
          :data-row="props.rowIndex"
          :data-col="props.colIndex"
        />
        <!--  追加ボタン -->
        <span v-if="props.rowIndex == 0 && props.colIndex == 0">
          <v-btn @click="handleAddIS(false)" class="btn" color="success"
            >追加</v-btn
          >
          <v-btn @click="handleAddIS(true)" class="btn" color="info"
            >月別で追加</v-btn
          >
        </span>
        <!-- ヘッダ -->
        <span
          v-if="
            isHeaderRow(props.rowIndex) &&
              isCenterCol(props.colIndex) &&
              props.colIndex != 0
          "
        >
          <color-select-btn
            @change="
              changeColor(colums[getCenterColIndex(props.colIndex)].key, $event)
            "
          >
            <b>
              {{ colums[getCenterColIndex(props.colIndex)].name }}
            </b>
          </color-select-btn>
        </span>
        <!--  内容 -->
        <span
          v-if="!isHeaderRow(props.rowIndex) && isCenterCol(props.colIndex)"
          class="cell-item"
        >
          <span
            v-if="colums[getCenterColIndex(props.colIndex)].key === 'day'"
            :id="
              getDayHeaderId(
                incomeSpendings[getMiddleRowIndex(props.rowIndex)].date
              )
            "
          >
            <template
              v-if="
                !incomeSpendings[getMiddleRowIndex(props.rowIndex)]
                  .hideInAttendance
              "
            >
              {{
                incomeSpendings[getMiddleRowIndex(props.rowIndex)].date
                  | formatDate
              }}
            </template>
            <template v-else>
              <b>
                {{
                  incomeSpendings[getMiddleRowIndex(props.rowIndex)].date
                    | formatMonth
                }}
                月固定
              </b>
            </template>

            <v-btn
              @click="
                handleDeleteIS(
                  incomeSpendings[getMiddleRowIndex(props.rowIndex)].id
                )
              "
              icon
              color="#acf"
              class="delete-btn"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </span>
          <span v-if="colums[getCenterColIndex(props.colIndex)].key === 'memo'">
            <input
              type="text"
              :value="incomeSpendings[getMiddleRowIndex(props.rowIndex)].memo"
              @change="
                updateIS(
                  incomeSpendings[getMiddleRowIndex(props.rowIndex)].id,
                  {
                    memo: String($event.target.value)
                  }
                )
              "
            />
          </span>
          <span
            v-if="colums[getCenterColIndex(props.colIndex)].key === 'amount'"
            :class="
              `${incomeSpendings[getMiddleRowIndex(props.rowIndex)].amount <
                0 && 'minus'}`
            "
          >
            <input
              type="text"
              :value="incomeSpendings[getMiddleRowIndex(props.rowIndex)].amount"
              @change="
                updateIS(
                  incomeSpendings[getMiddleRowIndex(props.rowIndex)].id,
                  {
                    amount: Number($event.target.value)
                  }
                )
              "
            />
          </span>
        </span>
      </template>
    </flex-table>
    <!--  テーブル -->

    <v-overlay :dark="false" :value="overlay">
      <v-card class="form-wrapper">
        <income-spending-form
          :currentDate="targetDate"
          @close="overlay = false"
          @add="handleDataAdd"
          :monthType="addMonthType"
        />
      </v-card>
    </v-overlay>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator'
import { ExStore } from 'vuex'
import {
  dateFormat,
  DateString,
  Weekday,
  weekday as wday,
  weekdayReading,
  years
} from '@/types'
import { FilterQuery } from '@/store/attendance/types'
import dayjs from 'dayjs'
import IncomeSpending from '@/types/incomeSpending'
import { DisplayInfo, DisplaySize } from '@/components/organisms/FlexTable.vue'
import { IncomeSpendingColor } from '@/store/setting/types'
import { Color } from '@/types/color'

@Component({
  components: {
    IncomeSpendingForm: () =>
      import('@/components/organisms/IncomeSpendingForm.vue'),
    FlexTable: () => import('@/components/organisms/FlexTable.vue'),
    ColorSelectBtn: () => import('@/components/atoms/ColorSelectBtn.vue')
  },
  filters: {
    formatDate: (date: string) => {
      const d = dayjs(date)
      return `${d.format('M/DD')} ${weekdayReading[d.day()]}`
    },
    formatMonth: (date: string) => {
      const d = dayjs(date)
      return d.format('M')
    }
  }
})
export default class IncomeSpendingTable extends Vue {
  @Prop({ default: () => String(dayjs().year()) }) year!: string
  @Prop({ default: () => String(dayjs().month()) }) month!: string
  @Prop({ default: '0' }) day!: string
  @Prop({ default: () => null }) weekday!: Weekday | null
  @Prop({ default: false }) onlyDay!: boolean
  @Prop({ default: 'm' }) displaySize!: DisplaySize

  @Emit('scrolled')
  onScrolled() {
    return
  }

  $store!: ExStore
  query: FilterQuery = {
    attend: undefined,
    date: undefined,
    dates: undefined,
    weekday: undefined,
    span: undefined,
    userId: undefined,
    desc: false
  }
  tableId = 'flex-table'
  overlay = false
  colums = [
    { key: 'day', name: '日付', color: '', width: '3' },
    { key: 'memo', name: 'メモ', color: '#fff', width: '5' },
    { key: 'amount', name: '金額', color: '', width: '2' }
  ]
  tableScrollY = 0
  addMonthType = false

  get color() {
    return this.$store.getters['setting/colors'].incomeSpending
  }

  get tableScroll() {
    return {
      x: 0,
      y: this.tableScrollY
    }
  }

  get yearOptions() {
    return years.map(y => ({
      text: String(y),
      value: String(y)
    }))
  }

  get monthOptions() {
    return [...Array(13).keys()].map(i => ({
      text: i == 0 ? '全て' : String(i),
      value: String(i)
    }))
  }

  get incomeSpendings() {
    return this.$store.getters['incomeSpending/filterByQuery'](this.query)
  }

  get latestDate() {
    return this.incomeSpendings[this.incomeSpendings.length - 1]?.date
  }

  get targetDate() {
    const { year, month, day } = this
    const currentDate = dayjs(`${year}/${month}/${day}`).format(dateFormat)
    return this.onlyDay ? currentDate : this.latestDate
  }

  get weekdays() {
    return [
      { text: '全て', value: 'all' },
      ...wday.map((w, i) => ({ text: weekdayReading[i], value: w }))
    ]
  }

  /* for Table -- */
  get rowNum() {
    const header = this.headerRowNum
    return this.incomeSpendings.length + header
  }

  get colNum() {
    const left = this.leftColNum
    const right = this.rightColNum
    return this.centerColNum + left + right
  }

  get headerRowNum() {
    return 1
  }

  get centerColNum() {
    return this.colums.length
  }

  get leftColNum() {
    return 0
  }

  get rightColNum() {
    return 0
  }
  /* -- for Table */
  created() {
    this.setQuery()
  }
  mounted() {
    setTimeout(() => {
      this.scrollToDate()
    }, 100)
  }
  scrollToDate(dateString?: DateString) {
    if (this.day == '0') return
    const { year, month, day } = this
    const date =
      dateString ||
      (dayjs(`${year}/${month}/${day}`).format(dateFormat) as DateString)
    const id = this.getDayHeaderId(date)
    const elm = document.getElementById(id)
    const top = elm?.offsetTop || 0
    this.tableScrollY = top - 150
    this.onScrolled()
  }
  getDayHeaderId(date: DateString) {
    return `dayheader-${date}`
  }
  setQuery() {
    const term = this.onlyDay ? 'day' : this.month == '0' ? 'year' : 'month'
    const month = this.month == '0' ? '01' : this.month
    const day = this.onlyDay ? this.day : '01'
    const from = dayjs(`${this.year}/${month}/${day}`)
    const to = dayjs(`${this.year}/${month}/${day}`).add(1, term)
    this.$set(this.query, 'span', {
      from: from.format(dateFormat) as DateString,
      to: to.format(dateFormat) as DateString
    })
    const weekday = this.weekday || undefined
    this.$set(this.query, 'weekday', weekday)
  }
  changeColor(key: string, color: Color) {
    this.$store.dispatch('setting/updateISColor', {
      [key as keyof IncomeSpendingColor]: color
    })
  }
  updateIS(id: number, payload: Partial<IncomeSpending>) {
    this.$store.dispatch('incomeSpending/updateIncomeSpending', { id, payload })
  }
  handleAddIS(addMonthType: boolean) {
    this.addMonthType = addMonthType
    this.overlay = true
  }
  handleDeleteIS(id: number) {
    this.$store.dispatch('incomeSpending/deleteIncomeSpending', { id })
  }
  handleChangeYear(year: string) {
    const weekday = this.weekday
    const month = this.month
    this.$router.push({
      name: 'IncomeSpending',
      query: { year, month, weekday }
    })
  }
  handleChangeMonth(month: string) {
    const weekday = this.weekday
    const year = this.year
    this.$router.push({
      name: 'IncomeSpending',
      query: { year, month, weekday }
    })
  }
  handleChangeWeek(weekday: Weekday) {
    const year = this.year
    const month = this.month
    this.$router.push({
      name: 'IncomeSpending',
      query: { year, month, weekday }
    })
  }
  handleDataAdd(date: DateString) {
    const d = dayjs(date)
    const weekday = this.weekday
    const year = String(d.year())
    const month = String(d.month() + 1)
    const day = String(d.date())
    if (this.onlyDay) return
    if (this.month != '0' || year != this.year) {
      this.$router.push({
        name: 'IncomeSpending',
        query: { year, month, day, weekday }
      })
    } else {
      this.day = day
      Vue.nextTick(() => {
        this.scrollToDate(date)
      })
    }
  }
  /* for Table -- */
  getCellStyle(rI: number, cI: number, info: DisplayInfo) {
    const color = { bg: '', font: '', border: '' }
    const colum = this.colums[this.getCenterColIndex(cI)]
    if (this.isHeaderRow(rI)) {
      if (this.isCenterCol(cI)) {
        color.bg = this.color[colum.key as keyof IncomeSpendingColor]
      }
    }
    let style = `flex-grow:${colum.width}; height:${info.cellHeight}px;`
    if (color.bg) style += ` background: ${color.bg}; `
    if (color.font) style += `  color:${color.font}; `
    if (color.border) style += `  border:${color.border}; `
    return style
  }
  isHeaderRow(rI: number) {
    return rI < this.headerRowNum
  }
  isLeftCol(cI: number) {
    return cI < this.leftColNum
  }
  isRightCol(cI: number) {
    return cI >= this.colNum - this.rightColNum
  }
  isCenterCol(cI: number) {
    return !this.isLeftCol(cI) && !this.isRightCol(cI)
  }
  getCenterColIndex(cI: number) {
    return cI - this.leftColNum
  }
  getRightColIndex(cI: number) {
    return cI - this.leftColNum - this.centerColNum
  }
  getMiddleRowIndex(rI: number) {
    return rI - this.headerRowNum
  }
  /* -- for Table */
}
</script>
<style lang="scss" scoped>
.income-spending {
  margin: 0;
  padding: 0 0px;
  max-width: 100% !important;
}
.form-wrapper {
  padding: 10px;
  width: 50vw;
  min-height: 50vh;
  color: black;
  background: white !important;
}
.info-header .v-btn {
  margin-right: 10px;
}
h2 {
  margin-right: 20px;
}
.income-spending,
.contents {
  height: 100%;
}
.delete-btn {
  margin-left: 30px;
  width: auto !important;
  height: auto !important;
}
.cell-item .minus input {
  color: red;
}
.cell-item input {
  width: 90%;
  width: 90%;
  border: solid 1px #ddd;
  border-radius: 4px;
}
.btn {
  margin-right: 10px;
}
</style>
