<template>
  <v-container>
    <h2>{{ monthType ? '月別' : '' }}収支を追加</h2>
    <v-divider></v-divider>
    <v-container class="d-flex justify-space-around">
      <v-container>
        <v-select
          :items="yearOptions"
          label="年"
          single-line
          outlined
          dense
          v-model="year"
          @change="updateWDay"
        ></v-select>
      </v-container>
      <v-container>
        <v-select
          :items="monthOptions"
          label="月"
          single-line
          outlined
          dense
          v-model="month"
          @change="updateWDay"
        ></v-select>
      </v-container>
      <v-container v-if="!monthType">
        <v-select
          :items="dayOptions"
          label="日"
          single-line
          outlined
          dense
          v-model="day"
          @change="updateWDay"
        ></v-select>
      </v-container>
      <v-container v-if="!monthType">
        <h2>{{ wDay }}曜日</h2>
      </v-container>
    </v-container>
    <h4>金額</h4>
    <v-text-field
      label="金額"
      single-line
      outlined
      dense
      v-model="amount"
    ></v-text-field>
    <h4>メモ</h4>
    <v-text-field
      label="メモ"
      single-line
      outlined
      dense
      v-model="memo"
    ></v-text-field>
    <v-container class="d-flex justify-space-between">
      <v-btn @click="handleSave" color="success">保存</v-btn>
      <v-btn @click="onClose" color="warning">キャンセル</v-btn>
    </v-container>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator'
import { ExStore } from 'vuex'
import { weekdayReading, years, dateFormat, DateString } from '@/types'
import dayjs from 'dayjs'

@Component
export default class IncomeSpendingForm extends Vue {
  @Prop() currentDate!: string
  @Prop({ default: false }) monthType!: boolean

  @Emit('close')
  onClose() {
    return
  }

  @Emit('add')
  onAdd(date: DateString) {
    return date
  }

  $store!: ExStore
  year = ''
  month = ''
  day = ''
  amount = 0
  memo = ''
  wDay = ''
  amountError = ''

  get yearOptions() {
    return years.map(y => ({
      text: String(y),
      value: String(y)
    }))
  }

  get monthOptions() {
    return [...Array(12).keys()].map(i => ({
      text: String(i + 1),
      value: String(i + 1)
    }))
  }

  get dayOptions() {
    if (!this.year || !this.month) return []
    const lastday = dayjs(`${this.year}/${this.month}`)
      .add(1, 'month')
      .subtract(1, 'day')
      .date()
    return [...Array(lastday).keys()].map(i => ({
      text: String(i + 1),
      value: String(i + 1)
    }))
  }

  updateWDay() {
    this.wDay = this.getWday()
  }

  getWday() {
    const { year, month, day } = this
    if (!year || !month || !day) return ''
    const date = dayjs(`${year}/${month}/${day}`).day()
    return weekdayReading[date]
  }

  created() {
    const d = dayjs(this.currentDate)
    this.year = String(d.year())
    this.month = String(d.month() + 1)
    this.day = String(d.date())
    this.updateWDay()
  }

  handleSave() {
    const { year, month, day, amount, memo } = this
    if (typeof Number(amount) != 'number') {
      this.amountError = '数字を入れてください'
      return
    }
    if (!year || !month || !day) return
    const _day = this.monthType ? '01' : day
    const date = dayjs(`${year}/${month}/${_day}`).format(
      dateFormat
    ) as DateString
    const payload = {
      date,
      amount: Number(amount),
      memo,
      hideInAttendance: this.monthType
    }
    this.$store.dispatch('incomeSpending/addIncomeSpending', payload)
    this.onAdd(date)
    this.onClose()
  }
}
</script>
<style lang="scss">
.select {
  display: inline-block;
}
</style>
