<template>
  <v-card v-if="user" class="mx-auto user-form" outlined>
    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-subtitle>
          <v-row>
            <v-col sm="3" class="label">
              <span>
                名前
              </span>
            </v-col>
            <v-col sm="9">
              <mw-text-field
                label="名前"
                :locked="!isEditing"
                :value="user.name"
                @change="updateUser({ name: $event })"
              ></mw-text-field>
            </v-col>
          </v-row>

          <v-divider></v-divider>

          <v-row>
            <v-col sm="3" class="label">
              <span>
                曜日
              </span>
            </v-col>
            <v-col sm="9">
              <mw-select-field
                label="曜日"
                :items="weekdays"
                :locked="!isEditing"
                :value="user.weekday"
                :multi="true"
                @change="updateUser({ weekday: $event })"
              />
            </v-col>
          </v-row>

          <v-row>
            <v-col sm="3" class="label">
              <span>
                文字色
              </span>
            </v-col>
            <v-col sm="9">
              <color-select-field
                label="文字色"
                :locked="!isEditing"
                :value="user.fontColor"
                @change="updateUser({ fontColor: $event })"
              />
            </v-col>
          </v-row>

          <v-row>
            <v-col sm="3" class="label">
              <span>
                背景色
              </span>
            </v-col>
            <v-col sm="9">
              <color-select-field
                label="背景色"
                :locked="!isEditing"
                :value="user.bgColor"
                @change="updateUser({ bgColor: $event })"
              />
            </v-col>
          </v-row>

          <v-row>
            <v-col sm="3" class="label">
              <span>
                支払いタイプ
              </span>
            </v-col>
            <v-col sm="9">
              <mw-select-field
                label="支払いタイプ"
                :items="paymentTypes"
                :locked="!isEditing"
                :value="user.paymentType"
                @change="updateUser({ paymentType: $event })"
              />
            </v-col>
          </v-row>

          <v-row>
            <v-col sm="3" class="label">
              <span>
                基本金額
              </span>
            </v-col>
            <v-col sm="7">
              <mw-select-field
                v-if="!manualAmount"
                label="基本金額"
                :items="priceOptions"
                :locked="!isEditing"
                :value="user.basicCharge"
                @change="updateUser({ basicCharge: $event })"
              />
              <mw-text-field
                v-if="manualAmount"
                label="基本金額"
                :locked="!isEditing"
                :value="user.basicCharge"
                @change="updateUser({ basicCharge: Number($event) })"
              ></mw-text-field>
            </v-col>
            <v-col sm="2" class="label">
              <v-btn v-if="isEditing" @click="manualAmount = !manualAmount">
                {{ manualAmount ? '選択' : '手入力' }}
              </v-btn>
            </v-col>
          </v-row>

          <v-row>
            <v-col sm="3" class="label">
              <span>
                メモ
              </span>
            </v-col>
            <v-col sm="9">
              <mw-text-area
                label="メモ"
                :locked="!isEditing"
                :value="user.memo"
                @change="updateUser({ memo: $event })"
              ></mw-text-area>
            </v-col>
          </v-row>

          <v-row>
            <v-col sm="3" class="label">
              <span>
                表示/非表示
              </span>
            </v-col>
            <v-col sm="9">
              現在 : {{ user.inactive ? '非表示' : '表示' }}
              <mw-switch
                class="switch"
                v-if="isEditing"
                :locked="!isEditing"
                :value="user.inactive"
                @change="updateUser({ inactive: $event })"
              />
            </v-col>
          </v-row>

          <v-container class="buttons d-flex justify-space-between">
            <v-btn
              v-if="!isEditing"
              @click="handleEdit()"
              outlined
              color="blue darken-3"
            >
              <v-icon left>mdi-pencil</v-icon>
              編集
            </v-btn>
            <v-btn
              v-if="isEditing"
              @click="handleSave()"
              outlined
              color="teal accent-4"
            >
              <v-icon left>mdi-content-save</v-icon>
              保存
            </v-btn>
            <v-btn @click="handleDelete()" outlined color="red darken-1">
              <v-icon left>mdi-trash-can</v-icon>
              削除
            </v-btn>
          </v-container>
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch, Emit } from 'vue-property-decorator'
import { ExStore } from 'vuex'
import {
  weekday,
  weekdayReading,
  paymentType,
  paymentTypeReading,
  prices
} from '@/types'
import User from '@/types/user'
import { colors } from '@/types/color'

type Payload = Partial<User>

@Component({
  components: {
    MwTextField: () => import('@/components/atoms/MwTextField.vue'),
    MwSelectField: () => import('@/components/atoms/MwSelectField.vue'),
    MwTextArea: () => import('@/components/atoms/MwTextArea.vue'),
    MwSwitch: () => import('@/components/atoms/MwSwitch.vue'),
    ColorSelectField: () => import('@/components/atoms/ColorSelectField.vue')
  }
})
export default class UserForm extends Vue {
  @Prop() userId!: number
  @Prop({ default: false }) isEditing!: boolean

  $store!: ExStore
  manualAmount = false

  @Emit('edit')
  onChangeEdit(edit: boolean) {
    return edit
  }

  @Watch('user')
  onChangeAmount(user: User) {
    if (!user) return false
    this.manualAmount = !prices.includes(Number(user.basicCharge))
  }

  get user() {
    return this.$store.getters['user/get'](this.userId)
  }

  get colors() {
    return colors.map(c => ({
      text: c,
      value: c
    }))
  }

  get priceOptions() {
    return prices.map(p => ({
      text: String(p),
      value: p
    }))
  }

  get paymentTypes() {
    return paymentType.map((p, i) => ({
      text: paymentTypeReading[i],
      value: p
    }))
  }

  get weekdays() {
    return weekday.map((w, i) => ({ text: weekdayReading[i], value: w }))
  }

  created() {
    this.user && this.onChangeAmount(this.user)
  }

  updateUser(payload: Payload) {
    if (!this.user) return
    const id = this.user.id
    this.$store.dispatch('user/updateUser', { id, payload })
  }

  handleEdit() {
    this.onChangeEdit(true)
  }

  handleSave() {
    if (!this.user) return
    this.onChangeEdit(false)
  }

  handleDelete() {
    if (!this.user) return
    const id = this.user.id
    this.$store.dispatch('attendance/deleteAttendancesByUser', { userId: id })
    this.$store.dispatch('user/deleteUser', { id })
  }
}
</script>
<style lang="scss">
.user-form {
  margin-bottom: 20px;
}
.switch {
  display: inline-block;
}
.switch .v-input {
  margin-top: 0;
}
</style>
