<template>
  <v-app>
    <div id="app-wrapper">
      <v-header />
      <v-main class="main">
        <router-view />
      </v-main>
    </div>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import dayjs from 'dayjs'
import 'dayjs/locale/ja'
import { ExStore } from 'vuex'
import { ipcEvents } from '@/types/ipcEvents'
import ipcHandler from '@/util/ipcHandler'

dayjs.locale('ja')

@Component({
  components: {
    VHeader: () => import('@/components/organisms/Header.vue')
  }
})
export default class App extends Vue {
  $store!: ExStore

  async created() {
    const ipc = window.ipc
    ipc.on(ipcEvents.log, (e, args) => {
      console.log(args)
    })
    ipc.send(ipcEvents.log, 'test message')
    ipcHandler.loadState()

    this.$router.replace({ name: 'Attendance' })
  }
}
</script>
<style lang="scss" scoped>
#app-wrapper {
  height: 100vh;
  .main {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
  }
}
</style>
